<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Common/common.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Admin/adminWork.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">

    <script type="text/javascript" src="~/js/Common/vue.js"></script>
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>


    <title>管理中心</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
</head>
<body>
    <div id="shortcut">
        <shortcut></shortcut>
    </div>
    <div id="content">
        <el-container style="height:100%">
                <el-header style="height:70px">
                    <div class="fl">
                        <img class="headpic" src="~/Images/Home/index/yinghaohuicui.png">
                    </div>

                    
                    <div class="fr" style="margin-top:25px">
                        
                            <a href="/Home/Index">
                                查看首页
                            </a>
                        
                    </div>
                </el-header>
                
                    <el-container style="border: 1px solid #eee">
                        
                        <el-container>
                            <el-tabs :tab-position="tabPosition" v-model="activeName">
                                <el-tab-pane label="发布活动" name="first">
                                    <el-card class="cardd">
                                        <el-form ref="form" :model="form" label-width="80px" :rules="rules">
                                            <el-form-item label="活动名称" prop="name">
                                                <el-input v-model="form.name"></el-input>
                                            </el-form-item>
                                            <el-form-item label="活动种类 "prop="type">
                                                <el-select v-model="form.type" placeholder="请选择活动种类">
                                                    <el-option label="全场活动" value="全场活动"></el-option>
                                                    <el-option label="特类商品" value="特类商品"></el-option>
                                                    <el-option label="店铺活动" value="店铺活动"></el-option>
                                                    <el-option label="单个商品" value="单个商品"></el-option>
                                                </el-select>
                                            </el-form-item>
                                            <el-form-item label="开始时间" prop="date1">
                                                <el-col :span="24">
                                                    <el-date-picker type="date" placeholder="选择日期" v-model="form.date1" style="width: 100%;"></el-date-picker>
                                                </el-col>

                                            </el-form-item>
                                            <el-form-item label="结束时间" prop="date2">
                                                <el-col :span="24">
                                                    <el-date-picker type="date" placeholder="选择日期" v-model="form.date2" style="width: 100%;"></el-date-picker>
                                                </el-col>

                                            </el-form-item>

                                            <el-form-item label="活动描述" prop="desc">
                                                <el-input type="textarea" v-model="form.desc"></el-input>
                                            </el-form-item>

                                            <el-form-item label="满足金额" prop="constrict">
                                                <el-input type="textarea" v-model.number="form.constrict"></el-input>
                                            </el-form-item>

                                            <el-form-item label="优惠金额" prop="minus">
                                                <el-input type="textarea" v-model.number="form.minus"></el-input>
                                            </el-form-item>

                                          

                                            <el-form-item>
                                                <el-button type="primary" @@click="submitForm('form')">立即发布</el-button>
                                                <el-button @@click="resetForm('form')">取消</el-button>
                                            </el-form-item>
                                        </el-form>
                                    </el-card>

                                </el-tab-pane>
                                <el-tab-pane label="管理活动" name="second">
                                    <el-row style="width:1050px!important;">
                                        <el-col :span="24">
                                            <el-card class="cancel">
                                                <el-row>
                                                    <el-col :span="12">
                                                        <el-button type="primary" @@click="getAll()">查看所有活动</el-button>
                                                    </el-col>
                                                    <el-col :span="6">
                                                        <el-input v-model="input" placeholder="请输入活动ID"></el-input>
                                                    </el-col>
                                                    <el-col :span="6">
                                                        <el-button type="primary" @@click="getOne()">查看指定活动</el-button>
                                                    </el-col>
                                                </el-row>
                                                <el-table :data="tableData"
                                                          style="width: 100%">
                                                    <el-table-column prop="ActivityId"
                                                                     label="活动ID"
                                                                     width="100">
                                                    </el-table-column>
                                                    <el-table-column prop="Name"
                                                                     label="活动名称"
                                                                     width="100">
                                                    </el-table-column>
                                                    <el-table-column prop="Category"
                                                                     label="活动种类"
                                                                     width="100">
                                                    </el-table-column>
                                                    <el-table-column prop="StartTime"
                                                                     label="开始时间"
                                                                     width="100">
                                                    </el-table-column>
                                                    <el-table-column prop="EndTime"
                                                                     label="结束时间"
                                                                     width="100">
                                                    </el-table-column>
                                                    <el-table-column prop="Description"
                                                                     label="活动详情"
                                                                     width="180">
                                                    </el-table-column>
                                                    <el-table-column label="操作" align="center" min-width="100">
                                                        <template slot-scope="scope">
                                                            <el-button type="primary" @@click="deleteRow(scope.$index,tableData)">删除</el-button>
                                                        </template>
                                                    </el-table-column>
                                                </el-table>
                                            </el-card>
                                        </el-col>
                                        
                                    </el-row>

                                </el-tab-pane>
                                <el-tab-pane label="用户封禁" name="third">
                                    <el-card class="carddd">
                                        <el-col :span="6">
                                            <el-input v-model="input2" placeholder="请输入用户ID"></el-input>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-button type="primary" @@click="closeUser()">封禁指定用户</el-button>
                                        </el-col>
                                    </el-card>
                                </el-tab-pane>
                                <el-tab-pane label="关闭店铺" name="fourth">
                                    <el-card class="carddd">
                                        <el-col :span="6">
                                            <el-input v-model="input3" placeholder="请输入店铺ID"></el-input>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-button type="primary" @@click="closeShop()">关闭指定店铺</el-button>
                                        </el-col>
                                    </el-card>
                                </el-tab-pane>
                                <el-tab-pane label="商品下架" name="fifth">
                                    <el-card class="carddd">
                                        <el-col :span="6">
                                            <el-input v-model="input4" placeholder="请输入商品ID"></el-input>
                                        </el-col>
                                        <el-col :span="6">
                                            <el-button type="primary" @@click="closeGoods()">下架指定商品</el-button>
                                        </el-col>
                                    </el-card>
                                </el-tab-pane>
                            </el-tabs>
                        </el-container>
                    </el-container>
                
        </el-container>
    </div>

    <script type="text/javascript" src="~/js/Admin/adminWork.js"></script>
</body>
</html>