<!--这个页面是所有页面都会引用的页面 -->
<html>
<head>
    <!--页面的编码格式等基础配置-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--左上角的图标信息-->
    <link rel="icon" href="~/icon.ico" type="image/x-icon" />
    <!--引入vue.js的cdn配置 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!--vue.js-->
    <script type="text/javascript" src="~/js/Common/vue.js"></script>
    <!-- element-ui.css -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- element-ui.js -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <!--jquery.js-->
    <script src="/plugins/jquery/jquery.min.js"></script>
</head>
<body>
    <!--
        !!!!!重要说明!!!!!!
        由于boostrap、tailwind、layui的css均对页面上的一些元素做了默认设置，
        所以在自己开发的时候按需要引用在对应界面即可，写在这里
        可能会引起不必要的冲突
    -->
</body>
</html>