<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link href="~/css/Account/buyerAccount/buyerAccount.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Common/common.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Entry/shortcut_five.css" type="text/css" rel="stylesheet" />
    <title>个人中心</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
</head>

<body>
    <!--顶部导航栏--> <!--待后期修改，各页面统一导航栏样式-->
    <div class="shortcut">
        <ul>
            <li>
                <div class="col_EF4F00">
                    <div>
                        <a href="/Home/Index">主界面</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="col_FFCC00">
                    <div>
                        <a href="/Account/BuyerAccount">账户中心</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="col_9FCC48">
                    <div>
                        <a href="http://">加入英豪</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="col_00A3E7">
                    <div>
                        <a href="http://">网站导航</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <!--页面主体-->
    <div class="main">
        <!--英豪荟萃logo，待后期调换-->
        <div id="logo">
            <img src="~/Images/Account/buyerAccount/logo.png" alter="" />
        </div>
        <!--左侧边栏-->
        <div id="left"></div>
        <!--索引-->
        <div id="index">
            <div class="text ">
                <p id="orders-center">订单中心</p>
                <p id="my-wallet">我的钱包</p>
                <p id="my-favourite">我的关注</p>
                <p id="account-settings">账户设置</p>
            </div>
        </div>
        <!--选项-->
        <div id="option">
            <div class="text ">
                <p id="history_orders">历史订单</p>
                <p id="shoppingcart">购物车</p>
                <p id="coupons">优惠券</p>
                <p id="bookmarks">收藏夹</p>
                <p id="follow-shops">关注店铺</p>
                <p id="follow-goods">关注商品</p>
                <p id="self-info">个人信息</p>
                <p id="ac-security">账户安全</p>
                <p id="address-manage">收货管理</p>
            </div>
        </div>
        <!--账户中心主页，界面右下方主体区域-->
        <div id="account-home">
            <!--白底矩形区域-->
            <div id="main1"></div>
            <div id="main2"></div>
            <!--头像-->
            <div id="portrait">
                <img src="~/Images/Account/buyerAccount/shadowed_avatar.svg"  alt="头像图片"/>
            </div>
            <!--昵称-->
            <div id="nickname">
                <div class="text ">
                    <p>昵称</p>
                </div>
            </div>
            <!--我的关注展示-->
            <div id="right"></div>
            <div id="favourite">
                <div class="text">
                    <p>我的关注</p>
                </div>
            </div>
            <!--其实预想效果是一个横向播送：“您关注的xxx正在促销”，循环播放-->
            <div id="promotion">
                <div class="text">
                    <p>您关注的商品正在促销哦~ 快去看看吧！</p>
                </div>
            </div>
            <!--账户主页最近订单展示-->
            <div id="my-order">
                <div class="text ">
                    <p>我的订单</p>
                </div>
            </div>

            <div id="tobe-paid">
                <img src="~/Images/Account/buyerAccount/tobe-paid.png" />
            </div>

            <div id="tobe-received">
                <img src="~/Images/Account/buyerAccount/tobe-received.png" />
            </div>

            <div id="tobe-commented">
                <img src="~/Images/Account/buyerAccount/tobe-commented.png" />
            </div>

            <div id="postsale">
                <img src="~/Images/Account/buyerAccount/postsale.png" />
            </div>
        </div>

        <textarea id="iD">
            123456789
        </textarea>

        <!--账户中心“个人信息”界面-->
        <div id="account-info">
            <div id="main3"></div>
            <!--修改头像-->
            <div id="portrait1">
                <img src="~/Images/Account/buyerAccount/small_avartar.png" />
            </div>

            <div id="word-por">
                <div class="text ">
                    <p>头像：</p>
                </div>
            </div>
            <!--用户ID显示，不可修改-->
            <div id="accountID">
                <div class="text ">
                    <p>账号：</p>
                </div>
            </div>

            <div id="ID">
                <div class="text ">
                    <p id="id">123456789</p>
                </div>
            </div>

            <div id="copy1">
                <div class="text ">
                    <p>复制</p>
                </div>
            </div>
            <!--昵称修改-->
            <input id="nick-name" type="text" value="HollyWYH" />

            <div id="copy2">
                <div class="text ">
                    <p>复制</p>
                </div>
            </div>

            <div id="word-nick">
                <div class="text ">
                    <p>昵称：</p>
                </div>
            </div>
            <!--性别选择-->
            <div id="word-sex">
                <div class="text ">
                    <p>性别：</p>
                </div>
            </div>

            <div id="sex">
                <form action="" method="get">
                    <label><input name="sex" type="radio" value="m" />男 </label>
                    <label><input name="sex" type="radio" value="f" />女 </label>
                    <label><input name="sex" type="radio" value="n" checked />保密 </label>
                </form>
            </div>
            <!--生日选择-->
            <div id="word-birth">
                <div class="text ">
                    <p>生日：</p>
                </div>
            </div>
            <input id="date" type="date" value="2021-07-16" />

            <div id="certificate">
                <div class="text">
                    <p>实名认证：   未认证</p>
                </div>
            </div>

            <button id="submit" type="button">
                <div class="btext">
                    提交
                </div>
            </button>
        </div>


        <!--账户中心“账户安全”界面-->
        <div id="account-safe">
            <div id="main3"></div>
            <!--修改手机号-->
            <div id="phone">
                <img src="~/Images/Account/buyerAccount/phone.png" />
            </div>

            <div id="phone-num">
                <div class="text ">
                    <p>123****8910</p>
                </div>
            </div>

            <button id="alter-phone" type="button">
                <div class="btext">
                    修改手机号
                </div>
            </button>
            <!--登陆密码-->
            <div id="login">
                <img src="~/Images/Account/buyerAccount/passsword.png" />
            </div>

            <div id="password">
                <div class="text ">
                    <p>*********</p>
                </div>
            </div>
            <button id="alter-password" type="button">
                <div class="btext">
                    修改登录密码
                </div>
            </button>
            <!--支付密码-->
            <div id="pay">
                <img src="~/Images/Account/buyerAccount/pin.png" />
            </div>

            <div id="pin">
                <div class="text ">
                    <p>123456</p>
                </div>
            </div>
            <button id="alter-pin" type="button">
                <div class="btext">
                    修改支付密码
                </div>
            </button>
            <!--邮箱，好像不要了？-->
            <div id="email">
                <img src="~/Images/Account/buyerAccount/email.png" />
            </div>

            <div id="address">
                <div class="text">
                    <p><span>12345678@qq.com</span></p>
                </div>
            </div>
            <button id="alter-email" type="button">
                <div class="btext">
                    修改邮箱
                </div>
            </button>
        </div>
        <!--历史订单-->
        <div id="history-orders">
            <div id="main3"></div>
        </div>
        <!--购物车-->
        <div id="cart">
            <div id="main3"></div>
        </div>
        <!--优惠券-->
        <div id="coupon">
            <div id="main3"></div>
        </div>
        <!--收藏夹-->
        <div id="bookmark">
            <div id="main3"></div>
        </div>
        <!--关注店铺-->
        <div id="fol-shops">
            <div id="main3"></div>
        </div>
        <!--关注商品-->
        <div id="fol-goods">
            <div id="main3"></div>
        </div>
        <!--收货信息管理-->
        <div id="address-management">
            <div id="main3"></div>
        </div>
    </div>
    <script type="text/javascript" src="~/js/Account/buyerAccount/buyerAccount.js" defer></script>
</body>

</html>