<!--优惠券页面 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link href="~/css/Account/coupon/coupon.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Common/shortcut_five.css" rel="stylesheet">
    <title>优惠券</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
</head>

<body>
    <div id="app">
        <shortcut></shortcut>

        <el-container direction="horizontal">
            <el-aside style="
          background-color: rgb(238, 241, 246);
          box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
          width: 300px;
          min-height:800px;
        ">
                <img style="padding: 20px"
                     src="~/Images/Home/index/yinghaohuicui.png" />
                <index></index>
            </el-aside>
            <el-main style="min-height: 600px;margin:20px" direction="vertical">
                <el-row>
                    <el-col :span="4"
                            v-for="(item, index) in list"
                            :key="index"
                            :offset="index%5!==0 ? 1 : 0">
                        <el-card :body-style="{ padding: '0px' }" style="margin-bottom:20px;height:250px" shadow="hover">
                            <i class="el-icon-s-ticket"></i>
                            <div style="padding: 8px">
                                <h2 style="margin:-5px"><strong>¥{{item.Discount1}}</strong></h2><br />
                                <h5 style="color:#aaaaaa;margin-top:-10px;margin-bottom:5px;">满{{item.Threshold}}可用</h5>
                                <h2 style="color:#808080;margin-top:-5px;">【{{item.Category}}】</h2>
                                <div class="bottom clearfix">
                                    <time class="time">使用截止日期：{{ item.EndTime }}</time><br />
                                    <el-button type="text" @@click="gotoshop(item.ShopId)">使用</el-button>
                                </div>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
    </div>


    <script type="text/javascript" src="~/js/Common/shortcutFive.js"></script>
    <script type="text/javascript" src="~/js/Account/coupon/coupon.js"></script>
</body>

</html>