<!--个人信息页面 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link href="~/css/Account/personalInformation/personalInformation.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Common/shortcut_five.css" rel="stylesheet">
    <title>个人信息</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
</head>

<body>
    <div id="app">
        <el-container direction="vertical">
            <shortcut></shortcut>
            <el-container direction="horizontal">
                <el-aside style="
            background-color: rgb(238, 241, 246);
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            width: 300px;
            min-height:800px;
          ">
                    <img style="padding: 20px"
                         src="~/Images/Home/index/yinghaohuicui.png" />
                    <index></index>
                </el-aside>
                <el-container style="min-height: 600px" direction="vertical" class="aria">
                    <el-row></el-row>
                    <el-row>
                        <el-col :span="3" style="text-align:right">
                            <p>头像：</p>
                        </el-col>
                        <el-col :span="4">
                            <el-upload class="avatar-uploader"
                                       action=""
                                       :show-file-list="false"
                                       :on-success="handleAvatarSuccess"
                                       :before-upload="beforeAvatarUpload">
                                <img v-if="imageUrl" :src="imageUrl" class="avatar" />
                                <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                            </el-upload>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="3" style="text-align:right">
                            <p>账号：</p>
                        </el-col>
                        <el-col :span="3">
                            <p>{{ ID }}</p>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="3" style="text-align:right">
                            <p>昵称：</p>
                        </el-col>
                        <el-col :span="3" style="position:relative;left:20px">
                            <el-input id="updatedNickname" v-model="nickname" placeholder="请输入昵称"></el-input>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="3" style="text-align:right">
                            <p>性别：</p>
                        </el-col>
                        <el-col :span="5" style="margin-top:15px">
                            <el-radio-group v-model="gender">
                                <el-radio :label="1">男</el-radio>
                                <el-radio :label="2">女</el-radio>
                                <el-radio :label="0">保密</el-radio>
                            </el-radio-group>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="3" style="text-align:right">
                            <p>生日：</p>
                        </el-col>
                        <el-col :span="5">
                            <el-date-picker :picker-options="pickerOptions" v-model="birthday" type="date" placeholder="选择日期">
                            </el-date-picker>
                        </el-col>
                    </el-row>
                    <el-row>
                        <el-col :span="9">
                            <promptbox></promptbox>
                        </el-col>
                    </el-row>
                </el-container>
            </el-container>
        </el-container>
    </div>


    <script type="text/javascript" src="~/js/Common/shortcutFive.js"></script>
    <script type="text/javascript" src="~/js/Account/personalInformation/personalInformation.js"></script>
</body>

</html>