ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 10%;
    background-color: rgba(80, 80, 90, 1);
    height: 100%; /* 全高 */
    position: fixed; /* 使它产生粘性，即使在滚动时 */
    overflow: auto; /* 如果侧栏的内容太多，则启用滚动条 */
}

/*li img{
    width:150px;
    padding: 10px 25px;
}*/

li a {
    display: block;
    color: rgb(181, 181, 192);
    padding: 8px 16px;
    text-decoration: none;
}
  
  /* 鼠标悬停时改变链接颜色 */
li a:hover {
    background-color: rgb(109, 109, 124);
}

.active {
    background-color: rgb(226, 224, 224);
    color: black;
}

.pad{
    margin-left:10%;
}

div img{
    width:100%;
}

.card{
    width:98%;
    height :200px;
    border:solid black 1px;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.column{
    float: left;
    height:200px;
    width:25%;
}

.column button{
    height:200px;
    width:100%;
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border:none;
    border-radius: 10px;
}
.column button:hover {
    background-color: #e8ece8; /* Green */
    color: black;
}

.messagebox{
    width:98%;
    height :500px;
    border:solid black 1px;
    border-radius: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}
