<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>英豪荟萃 - 首页</title>
    <link rel="icon" href="../../wwwroot/icon.ico" type="image/x-icon" />

    <!-- import CSS -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- import Vue before Element -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- import JavaScript -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="//unpkg.com/element-ui@2.15.2/lib/index.js"></script>

    <link rel="stylesheet" href="../../wwwroot/css/SellerBackground/home.css">
</head>

<body>
    <el-container>
        <div class="nav-area">
        <img>
        <el-aside id="nav" style="width:100%;">
            <side-bar></side-bar>
        </el-aside>
        </div>
    </el-container>

</body>
<script src="../../wwwroot/js/SellerBackground/home.js"></script>
<script src="../../wwwroot/js/SellerBackground/sidebar.js"></script>

</html>