<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../Content/css/SellerBackground/SellerBackground.css" type="text/css" rel="stylesheet">
    <title>英豪荟萃商家后台</title>
</head>
<body>
    <div>
        <div class = "leftnav"><ul>
            <!--<li><img src = "../../images/SellerBackground/logo.png" alt = "英豪荟萃"></li>-->
            <li><a href="./SellerBackground.html" class = "active">首页</a></li>
            <li><a href="http://">店铺</a></li>
            <li><a href="http://">商品</a></li>
            <li><a href="http://">数据</a></li>
            <li><a href="http://">订单</a></li>
            <li><a href="http://">设置</a></li>
        </ul></div>
        <div class = "pad">
            <div class = "upnav">
                <img src = "../../images/SellerBackground/bar.png">
            </div>
            <div class = "main">
                <div class = "card">
                    <div class = "column">
                        <button>1</button>
                    </div>
                    <div class = "column">
                        <button>2</button>
                    </div>
                    <div class = "column">
                        <button>3</button>
                    </div>
                    <div class = "column">
                        <button>4</button>
                    </div>
                </div>
                
                <div class = "messagebox">
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>