@import url("//unpkg.com/element-ui@2.15.2/lib/theme-chalk/index.css");

/*侧边栏*/
.nav-area {
    background-image: url("../../Images/SellerBackground/sidebar_background3.png");
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-position: left;
    background-size: cover;
    background-color: black;
    width: 15%;
    min-width: 200px;
    /*min-width: 180px;*/
    height: 100%;
    position:fixed; /* 使它产生粘性，即使在滚动时 */
    display:block;
}

.header{
    list-style-type: none;
    margin: 0;
    overflow: hidden;
}

.header li{
    float: right;
    padding:10px;
}