<!--关注商品页面 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link href="~/css/Favorites/favorite/favorites.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Common/shortcut_five.css" rel="stylesheet">
    <title>关注商品</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
</head>

<body>
    <div id="app">
        <el-container direction="vertical">
            <shortcut></shortcut>
            <el-container direction="horizontal">
                <aside>
                    <div style="background-color: rgb(238, 241, 246);
                                    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
                                    min-height: 800px;
                                    width: 300px">
                        <img style="padding: 20px"
                             src="~/Images/Home/index/yinghaohuicui.png" />
                        <index></index>
                    </div>
                </aside>
                <el-container style="margin-left:20px;margin-right:20px;">
                    <el-main style="min-height: 600px" direction="vertical">
                        <el-row>
                            <el-col :span="18">
                                <tabs></tabs>
                            </el-col>
                            <el-button type="danger" @@click="clearup()">清空收藏夹</el-button>
                        </el-row>
                        <el-row>
                            <el-col :span="4"
                                    v-for="(item, index) in list"
                                    :key="index"
                                    :offset="index%5!==0 ? 1 : 0">
                                <el-card :body-style="{ padding: '0px' }" style="margin-bottom:20px;" shadow="hover">
                                    <img :src="item.CommodityImg"
                                         class="image" />
                                    <div style="padding: 8px">
                                        <div style="height:50px">
                                            <span>{{item.CommodityName}}</span><br />
                                        </div>
                                        <el-rate v-model="rate"
                                                 disabled
                                                 show-score
                                                 text-color="#ff9900"
                                                 score-template="{value}">
                                        </el-rate>
                                        <span><strong>¥{{item.Price}}</strong></span><br />
                                        <div class="bottom clearfix">
                                            <time class="time">关注时间：{{ item.DateCreated }}</time><br /><br />
                                            <!--el-button type="text" style="padding: 4px; float: left;" @@click="removefavo(item.CommodityId)">取消收藏</!--el-button>
                                            <el-button type="text"  style="padding: 4px;float:right;" @@click="commodityDetial(item.CommodityId)">查看详情</el-button-->
                                            <el-button type="danger" icon="el-icon-delete" circle @@click="removefavo(item.CommodityId)"></el-button>
                                            <el-button icon="el-icon-search" circle @@click="commodityDetial(item.CommodityId)"></el-button>
                                        </div>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row>
                        <!--el-row>
                            <el-col :span="4"
                                    v-for="(o, index) in 5"
                                    :key="o"
                                    :offset="index > 0 ? 1 : 0">
                                <el-card :body-style="{ padding: '0px' }" shadow="hover">
                                    <img src="https://shadow.elemecdn.com/app/element/hamburger.9cf7b091-55e9-11e9-a976-7f4d0b07eef6.png"
                                         class="image" />
                                    <div style="padding: 8px">
                                        <p>英豪巨无霸</p>
                                        <el-rate v-model="rate"
                                                 disabled
                                                 show-score
                                                 text-color="#ff9900"
                                                 score-template="{value}">
                                        </el-rate>
                                        <span><strong>¥9.9</strong></span>
                                        <div class="bottom clearfix">
                                            <span class="time">{{ currentDate }}</span>
                                            <el-link type="primary" style="padding: 4px;float:right;" href={{item.jump}}>查看详情</el-link>
                                        </div>
                                    </div>
                                </el-card>
                            </el-col>
                        </el-row-->
                    </el-main>
                </el-container>
            </el-container>
        </el-container>
    </div>


    <script type="text/javascript" src="/js/Common/shortcutFive.js"></script>
    <script type="text/javascript" src="/js/Favorites/favorite/favorite.js"></script>
</body>

</html>