<!--关注店铺页面 -->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <link href="~/css/Favorites/follow/follow.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Common/shortcut_five.css" rel="stylesheet">
    <title>关注店铺</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
</head>

<body>
    <div id="app">
        <el-container direction="vertical">
            <shortcut></shortcut>
            <el-container direction="horizontal">
                <el-aside style="
            background-color: rgb(238, 241, 246);
            box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
            min-height:800px;
            width: 300px;
          ">
                    <img style="padding: 20px"
                         src="~/Images/Home/index/yinghaohuicui.png" />
                    <index></index>
                </el-aside>
                <el-container>
                    <el-main style="margin-left:20px; min-height: 600px" direction="vertical">
                        <el-row>
                            <el-col :span="14">
                                <tabs></tabs>
                            </el-col>
                            <el-col :span="4">
                                <el-input :span="4"
                                          v-model="input"
                                          placeholder="请输入关键字"></el-input>
                            </el-col>
                            <el-col :span="1">
                                <el-button icon="el-icon-search" plain></el-button>
                            </el-col>
                            <el-button type="danger">我的购物车</el-button>
                        </el-row>
                        <el-row v-for="(item, index) in list"
                                :key="index"
                                :offset="index > 0 ? 1 : 0">
                            <el-col :span="5">
                                <el-card :body-style="{ padding: '0px' }" shadow="hover">
                                    <img :src="item.Url"
                                         class="image" />
                                    <div style="padding: 8px">
                                        <p>{{ item.ShopName }}</p>
                                        <el-rate v-model="rate"
                                                 disabled
                                                 text-color="#ff9900"
                                                 score-template="{value}">
                                        </el-rate>
                                        <div class="bottom clearfix">
                                            <time class="time">关注时间：{{ item.DateCreated }}</time><br /><br />
                                            <!--el-button type="text" style="margin-right:10px;" @@click="gotoshop(item.ShopId)">进入店铺</!--el-button>
                                            <el-link type="primary" :underline="false" :href="item.shop">联系客服</el-link><br /-->
                                            <el-button type="danger" icon="el-icon-delete" circle @@click="removefollow(item.ShopId)"></el-button>
                                            <el-button type="info" icon="el-icon-message" circle @@click=""></el-button>
                                            <el-button icon="el-icon-search" circle @@click=""></el-button>
                                        </div>
                                    </div>
                                </el-card>
                            </el-col>
                            <el-col :span="19">
                                <div class="showcase">
                                    <el-row>
                                        <el-col :span="5" v-for="(o, index) in item.commodityView"
                                                :key="index"
                                                :offset="index%4!==0 ? 1 : 0">
                                            <!--a style="position:relative;left:-70px;top:18px" href="http://">
                                                <img :src="item.commodities"
                                                     title="橱窗商品" />
                                            </a-->
                                            <img style="position: relative;  left: 30%; top: 10px; width: 150px; height: 150px; display: block;" :src="o.Url" />
                                            <h4 style="color:#808080">{{o.Name}}</h4>
                                            <!--商品名称偏左，待调整-->
                                        </el-col>
                                    </el-row>
                                </div>
                            </el-col>
                        </el-row>
                    </el-main>
                </el-container>
            </el-container>
        </el-container>
    </div>
    <script type="text/javascript" src="/js/Common/shortcutFive.js"></script>
    <script type="text/javascript" src="/js/Favorites/follow/follow.js"></script>

</body>

</html>