body{
    margin:0;
}
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.el-row {
    margin-bottom: 20px;
    margin-left: 30px;
}

.el-col {
    border-radius: 4px;
}
