<!--店铺搜索页面-->
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <!--引入tailwind-->
    <link href="https://unpkg.com/tailwindcss@@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/Search/searchShop/searchShop.css" rel="stylesheet">
    <!--引入与导航栏有关的配置-->
    <link href="/css/Common/shortcut_five.css" rel="stylesheet">
    <!--搜索框-->
    <link href="/css/Search/searchBar.css" rel="stylesheet">
    <!--右边栏-->
    <link href="/css/Common/naviRight.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
    <title>搜索结果-店铺</title>


    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
    @await Html.PartialAsync("~/Views/Shared/backToTop.cshtml")
</head>

<body>
    <!--右边栏-->
    <div id="naviRight">
        <naviright>

        </naviright>
    </div>
    <!--渲染导航栏-->
    <div id="shortcutlg">
        <shortcut></shortcut>
    </div>
    <!--搜索框部分-->
    <div id="search-bar">
        <searchbar></searchbar>
    </div>
    <!--筛选栏部分-->
    <div id="search-category" class="search-category">
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @@select="handleSelect">
            <el-menu-item index="1" onclick="setShopsDefault()">默认</el-menu-item>
            <el-menu-item index="2" onclick="setShopsByCredit()">信用</el-menu-item>
        </el-menu>
    </div>
    <!--店铺搜索结果-->
    <div class="shops bg-gray-100 rounded-lg  border-opacity-0">
        <div id="shop-list" class="shop-list">
            <el-row :span="0" v-for="(item, index) in shops" :key="index" :gutter="20" class="row-con">
                <el-col :span="6">
                    <el-card class="card transition duration-150 ease-in-out transform hover:-translate-y-1 hover:border-2 hover:border-blue-700"
                             :body-style="{ padding: '0px' }">
                        <img :src="item.img" class="commodityImage">
                        <div style="padding: 10px;">
                            <span>{{item.shopName}}</span>
                            <div class="bottom clearfix">
                                <el-button type="text" class="button" @@click="setShop(item.shopID)">进入店铺</el-button>
                            </div>
                        </div>
                    </el-card>
                </el-col>
                <!--店铺详情-->
                <el-col :span="16">
                    <el-card class="card description" shadow="never">
                        <div class="text-blue-700">店铺详情</div>
                        <p>{{item.shopDescription}}</p>
                    </el-card>
                </el-col>

            </el-row>
        </div>
    </div>

    <script type="text/javascript" src="/js/Common/shortcutFive.js"></script>
    <script type="text/javascript" src="/js/Common/naviRight.js"></script>
    <script type="text/javascript" src="/js/Search/searchBar.js"></script>
    <script type="text/javascript" src="/js/Search/searchShop/searchShop.js"></script>
</body>

</html>