/* init */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	height: 200rem;
}

/* hint */
.hint {
	max-width: 40rem;
	margin: 10rem auto;
	text-align: center;
}

/* main */
.rocket-wrapper {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	height: 11.25rem;
	width: 7.5rem;
	opacity: 0;
	transition: all 0.5s ease-in 0.5s;
}

.rocket-wrapper .active-rocket {
	position: absolute;
	z-index: 3;
	width: 100%;
	height: 100%;
	font-size: 0;
	background: url(../../Images/Common/backToTop/rocket.svg) no-repeat -240px 0;
	opacity: 0;
	transition: opacity 0.5s ease-in;
}

.rocket-wrapper:hover .hover-rocket {
	opacity: 1;
}

.rocket-wrapper .hover-rocket {
position: absolute;
z-index: 2;
width: 100%;
height: 100%;
font-size: 0;
background: url(../../Images/Common/backToTop/rocket.svg) no-repeat -120px 0;
opacity: 0;
transition: opacity 0.5s ease-in;
}

.rocket-wrapper .default-rocket {
position: absolute;
z-index: 1;
width: 100%;
height: 100%;
font-size: 0;
background: url(../../Images/Common/backToTop/rocket.svg) no-repeat 0 0;
}