* {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.fl{
  position: relative;
  float: left;
}

.fr{
  position: relative;
  float: right;
}

input {
  outline: none;
}

a{
    text-decoration:none;
    color:black;
}
