body {
    margin: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.el-row {
    margin-bottom: 20px;
}

.el-col {
    border-radius: 4px;
}

.bg-purple-dark {
    background: #99a9bf;
}

.bg-purple {
    background: #d3dce6;
}

.bg-purple-light {
    background: #e5e9f2;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}

.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}

.time {
    font-size: 13px;
    color: #999;
}

.bottom {
    margin-top: 13px;
    line-height: 12px;
}

.button {
    padding: 0;
    float: center;
}

.image {
    width: 100%;
    display: block;
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: "";
}

.clearfix:after {
    clear: both;
}

h3 {
    color: rgba(80, 80, 90, 1);
}

.el-icon-mobile-phone {
    zoom: 400%;
}

.el-icon-s-goods {
    zoom: 400%;
}

.el-icon-s-custom {
    zoom: 400%;
}

.el-icon-coin {
    zoom: 400%;
}
.aria {
    background-image: url(../../../Images/Entry/background4.png);
    background-repeat:no-repeat;
    background-size: 1235px 600px;
}

.el-dialog{
    width:30%;
}