<!--与客服对话的页面-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Entry/login/login.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Common/common.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Entry/shortcut_five.css" type="text/css" rel="stylesheet" />
    <link href="https://unpkg.com/tailwindcss@@^2/dist/tailwind.min.css" rel="stylesheet">
    <title>联系客服</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
</head>

<body>
</body>

</html>
