<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../Content/css/style.css" type="text/css" rel="stylesheet">
    <link href="../../Content/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="../../Content/css/main_styles.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="js/index.js"></script>
    <title>Document</title>
</head>
<body>
    <div id = "content">
      <div id ="shortcut">
        <!-- Unnamed (Rectangle) -->
        <div id="u0" class="ax_default box_1">
          <div id="u0_div" class="">
          <div id="u0_text" class="text " >
            <p></p>
          </div>
       
  
      <div id = "shortcutgroup">
        <!-- Unnamed (Group) -->
        <div id="u1" >
  
          <!-- Unnamed (Rectangle) -->
          <div id="u2" class="ax_default box_3">
            <div id="u2_div" class=""></div>
            <div id="u2_text" class="text ">
              <p><a href="#">特价</a></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u3" class="ax_default box_2">
            <div id="u3_div" class=""></div>
            <div id="u3_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u4" class="ax_default" data-left="155" data-top="0" data-width="110" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u5" class="ax_default box_3">
            <div id="u5_div" class=""></div>
            <div id="u5_text" class="text ">
              <p><span>电子设备</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u6" class="ax_default box_2">
            <div id="u6_div" class=""></div>
            <div id="u6_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u7" class="ax_default" data-left="265" data-top="0" data-width="110" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u8" class="ax_default box_3">
            <div id="u8_div" class=""></div>
            <div id="u8_text" class="text ">
              <p><span>饮食</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u9" class="ax_default box_2">
            <div id="u9_div" class=""></div>
            <div id="u9_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u10" class="ax_default" data-left="375" data-top="0" data-width="110" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u11" class="ax_default box_3">
            <div id="u11_div" class=""></div>
            <div id="u11_text" class="text ">
              <p><span>家居</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u12" class="ax_default box_2">
            <div id="u12_div" class=""></div>
            <div id="u12_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u13" class="ax_default" data-left="485" data-top="0" data-width="110" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u14" class="ax_default box_3">
            <div id="u14_div" class=""></div>
            <div id="u14_text" class="text ">
              <p><span>服装</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u15" class="ax_default box_2">
            <div id="u15_div" class=""></div>
            <div id="u15_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u16" class="ax_default" data-left="595" data-top="0" data-width="110" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u17" class="ax_default box_3">
            <div id="u17_div" class=""></div>
            <div id="u17_text" class="text ">
              <p><span>美妆</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u18" class="ax_default box_2">
            <div id="u18_div" class=""></div>
            <div id="u18_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u19" class="ax_default" data-left="704" data-top="0" data-width="111" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u20" class="ax_default box_3">
            <div id="u20_div" class=""></div>
            <div id="u20_text" class="text ">
              <p><span>运动</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u21" class="ax_default box_2">
            <div id="u21_div" class=""></div>
            <div id="u21_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u22" class="ax_default" data-left="814" data-top="0" data-width="111" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u23" class="ax_default box_3">
            <div id="u23_div" class=""></div>
            <div id="u23_text" class="text ">
              <p><span>珠宝</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u24" class="ax_default box_2">
            <div id="u24_div" class=""></div>
            <div id="u24_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u25" class="ax_default" data-left="924" data-top="0" data-width="111" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u26" class="ax_default box_3">
            <div id="u26_div" class=""></div>
            <div id="u26_text" class="text ">
              <p><span>汽车</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u27" class="ax_default box_2">
            <div id="u27_div" class=""></div>
            <div id="u27_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u28" class="ax_default" data-left="1034" data-top="0" data-width="111" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u29" class="ax_default box_3">
            <div id="u29_div" class=""></div>
            <div id="u29_text" class="text ">
              <p><span>医疗保健</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u30" class="ax_default box_2">
            <div id="u30_div" class=""></div>
            <div id="u30_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u31" class="ax_default" data-left="1144" data-top="0" data-width="111" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u32" class="ax_default box_3">
            <div id="u32_div" class=""></div>
            <div id="u32_text" class="text ">
              <p><span>图书</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u33" class="ax_default box_2">
            <div id="u33_div" class=""></div>
            <div id="u33_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u34" class="ax_default" data-left="1254" data-top="0" data-width="111" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u35" class="ax_default box_3">
            <div id="u35_div" class=""></div>
            <div id="u35_text" class="text ">
              <p><span>全部分类</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u36" class="ax_default box_2">
            <div id="u36_div" class=""></div>
            <div id="u36_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u37" class="ax_default" data-left="1364" data-top="0" data-width="111" data-height="66">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u38" class="ax_default box_3">
            <div id="u38_div" class=""></div>
            <div id="u38_text" class="text ">
              <p><span>帮助</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u39" class="ax_default box_2">
            <div id="u39_div" class=""></div>
            <div id="u39_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      
    <div id = "searchbar">

        <!-- Unnamed (Group) -->
        <div id="u40" class="ax_default" >
  
          <!-- Unnamed (Image) -->
        <div id="u68" class="ax_default _图片">
          <img id="u68_img" class="img " src="../../images/main/u68.png"/>
          
        </div>

          <!-- Unnamed (Rectangle) -->
          <div id="u41" class="ax_default box_2">
            <div id="u41_div" class=""></div>
            <div id="u41_text" class="text ">
              <p><span>&nbsp;&nbsp; 关键字搜索</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u42" class="ax_default button">
            <img id="u42_img" class="img " src="../../images/main/u42.svg"/>
            <div id="u42_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        
  
        <!-- Unnamed (Group) -->
        <div id="u43" class="ax_default" >
  
          <!-- Unnamed (Group) -->
          <div id="u44" class="ax_default" >
            <!-- Unnamed (Rectangle) -->
            <div id="u45" class="ax_default button">
              <img id="u45_img" class="img " src="../../images/main/u45.svg"/>
              <div id="u45_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
  
            <!-- Unnamed (Text Field) -->
            <div id="u46" class="ax_default text_field">
              <div id="u46_div" class=""></div>
              <input id="u46_input" type="text" value="购物车" class="u46_input"/>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u47" class="ax_default" >
  
          <!-- Unnamed (Group) -->
          <div id="u48" class="ax_default" data-left="1020" data-top="102" data-width="70" data-height="70">
  
            <!-- Unnamed (Rectangle) -->
            <div id="u49" class="ax_default button">
              <img id="u49_img" class="img " src="../../images/main/u49.svg"/>
              <div id="u49_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </div>
  
            <!-- Unnamed (Text Field) -->
            <div id="u50" class="ax_default text_field">
              <div id="u50_div" class=""></div>
              <input id="u50_input" type="text" value="通知" class="u50_input"/>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u51" class="ax_default" data-left="1082" data-top="102" data-width="70" data-height="70">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u52" class="ax_default button">
            <img id="u52_img" class="img " src="../../images/main/u52.svg"/>
            <div id="u52_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Text Field) -->
          <div id="u53" class="ax_default text_field">
            <div id="u53_div" class=""></div>
            <input id="u53_input" type="text" value="浏览记录" class="u53_input"/>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u54" class="ax_default" data-left="1152" data-top="102" data-width="70" data-height="70">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u55" class="ax_default button">
            <img id="u55_img" class="img " src="../../images/main/u55.svg"/>
            <div id="u55_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Text Field) -->
          <div id="u56" class="ax_default text_field">
            <div id="u56_div" class=""></div>
            <input id="u56_input" type="text" value="收藏夹" class="u56_input"/>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u57" class="ax_default" data-left="1222" data-top="102" data-width="70" data-height="70">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u58" class="ax_default button">
            <img id="u58_img" class="img " src="../../images/main/u58.svg"/>
            <div id="u58_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Text Field) -->
          <div id="u59" class="ax_default text_field">
            <div id="u59_div" class=""></div>
            <input id="u59_input" type="text" value="历史订单" class="u59_input"/>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u60" class="ax_default" data-left="1286" data-top="102" data-width="70" data-height="70">
  
          <!-- Unnamed (Rectangle) -->
          <div id="u61" class="ax_default button">
            <img id="u61_img" class="img " src="../../images/main/u61.svg"/>
            <div id="u61_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Text Field) -->
          <div id="u62" class="ax_default text_field">
            <div id="u62_div" class=""></div>
            <input id="u62_input" type="text" value="优惠券" class="u62_input"/>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u63" class="ax_default" >
  
          <!-- Unnamed (Rectangle) -->
          <div id="u64" class="ax_default button">
            <img id="u64_img" class="img " src="../../images/main/u64.svg"/>
            <div id="u64_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Text Field) -->
          <div id="u65" class="ax_default text_field">
            
            <a id="u65_input" href="login.html">登录</a>
    
          
          
          
            <input id="u67_input" type="text" value="|" class="u67_input"/>
          

          <div>
            <a id="u66_input" href="signup.html">注册</a>
          </div>
          </div>
  
          
        </div>
  
        

      </div>

      </div>
    
      </div>

    <div id="base" class="">
  
        <!-- Unnamed (Image) -->
        <div id="u69" class="ax_default _图片">
          
         
          
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u70" class="ax_default box_2">
          <div id="u70_div" class=""></div>
          <div id="u70_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
  
        <!-- Unnamed (Image) -->
        <div id="u71" class="ax_default _图片">
          <img id="u71_img" class="img " src="../../images/main/u71.png"/>
          <div id="u71_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
  
        <!-- Unnamed (Image) -->
        <div id="u72" class="ax_default _图片">
          <img id="u72_img" class="img " src="../../images/main/u72.png"/>
          <div id="u72_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
  
     
  
        <!-- Unnamed (Group) -->
        <div id="u76" class="ax_default" data-left="485" data-top="638" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u77" class="ax_default _图片">
            <img id="u77_img" class="img " src="../../images/main/u77.png"/>
            <div id="u77_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u78" class="ax_default button">
            <img id="u78_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u78_text" class="text ">
              <p><span>尼康D7500 单反相机 数码相机 </span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u79" class="ax_default label">
            <div id="u79_div" class=""></div>
            <div id="u79_text" class="text ">
              <p><span>￥ 6999.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u80" class="ax_default" data-left="748" data-top="638" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u81" class="ax_default _图片">
            <img id="u81_img" class="img " src="../../images/main/u81.png"/>
            <div id="u81_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u82" class="ax_default button">
            <img id="u82_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u82_text" class="text ">
              <p><span>Kindle 电子书阅读器</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u83" class="ax_default label">
            <div id="u83_div" class=""></div>
            <div id="u83_text" class="text ">
              <p><span>￥ 998.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u84" class="ax_default" data-left="1010" data-top="638" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u85" class="ax_default _图片">
            <img id="u85_img" class="img " src="../../images/main/u85.png"/>
            <div id="u85_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u86" class="ax_default button">
            <img id="u86_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u86_text" class="text ">
              <p><span>森海塞尔（Sennheiser）</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u87" class="ax_default label">
            <div id="u87_div" class=""></div>
            <div id="u87_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u88" class="ax_default" data-left="1269" data-top="638" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u89" class="ax_default _图片">
            <img id="u89_img" class="img " src="../../images/main/u89.png"/>
            <div id="u89_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u90" class="ax_default button">
            <img id="u90_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u90_text" class="text ">
              <p><span>小米米家电动滑板车Pro</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u91" class="ax_default label">
            <div id="u91_div" class=""></div>
            <div id="u91_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u92" class="ax_default label">
          <div id="u92_div" class=""></div>
          <div id="u92_text" class="text ">
            <p><span>电子设备</span></p>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u93" class="ax_default" data-left="480" data-top="970" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u94" class="ax_default _图片">
            <img id="u94_img" class="img " src="../../images/main/u94.png"/>
            <div id="u94_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u95" class="ax_default button">
            <img id="u95_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u95_text" class="text ">
              <p><span>奥利奥巧克力味夹心饼干</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u96" class="ax_default label">
            <div id="u96_div" class=""></div>
            <div id="u96_text" class="text ">
              <p><span>￥ 19.90 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u97" class="ax_default" data-left="739" data-top="970" data-width="194" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u98" class="ax_default _图片">
            <img id="u98_img" class="img " src="../../images/main/u98.png"/>
            <div id="u98_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u99" class="ax_default button">
            <img id="u99_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u99_text" class="text ">
              <p><span>三只松鼠奶油味夏威夷果</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u100" class="ax_default label">
            <div id="u100_div" class=""></div>
            <div id="u100_text" class="text ">
              <p><span>￥ 40.80 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u101" class="ax_default" data-left="1005" data-top="970" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u102" class="ax_default _图片">
            <img id="u102_img" class="img " src="../../images/main/u102.png"/>
            <div id="u102_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u103" class="ax_default button">
            <img id="u103_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u103_text" class="text ">
              <p><span>荷兰进口 乐荷全脂有机纯牛奶</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u104" class="ax_default label">
            <div id="u104_div" class=""></div>
            <div id="u104_text" class="text ">
              <p><span>￥ 198.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u105" class="ax_default" data-left="1264" data-top="970" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u106" class="ax_default _图片">
            <img id="u106_img" class="img " src="../../images/main/u89.png"/>
            <div id="u106_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u107" class="ax_default button">
            <img id="u107_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u107_text" class="text ">
              <p><span>小米米家电动滑板车Pro</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u108" class="ax_default label">
            <div id="u108_div" class=""></div>
            <div id="u108_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u109" class="ax_default label">
          <div id="u109_div" class=""></div>
          <div id="u109_text" class="text ">
            <p><span>饮食</span></p>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u110" class="ax_default" data-left="490" data-top="1303" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u111" class="ax_default _图片">
            <img id="u111_img" class="img " src="../../images/main/u77.png"/>
            <div id="u111_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u112" class="ax_default button">
            <img id="u112_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u112_text" class="text ">
              <p><span>尼康D7500 单反相机 数码相机 </span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u113" class="ax_default label">
            <div id="u113_div" class=""></div>
            <div id="u113_text" class="text ">
              <p><span>￥ 6999.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u114" class="ax_default" data-left="753" data-top="1303" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u115" class="ax_default _图片">
            <img id="u115_img" class="img " src="../../images/main/u81.png"/>
            <div id="u115_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u116" class="ax_default button">
            <img id="u116_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u116_text" class="text ">
              <p><span>Kindle 电子书阅读器</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u117" class="ax_default label">
            <div id="u117_div" class=""></div>
            <div id="u117_text" class="text ">
              <p><span>￥ 998.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u118" class="ax_default" data-left="1015" data-top="1303" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u119" class="ax_default _图片">
            <img id="u119_img" class="img " src="../../images/main/u85.png"/>
            <div id="u119_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u120" class="ax_default button">
            <img id="u120_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u120_text" class="text ">
              <p><span>森海塞尔（Sennheiser）</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u121" class="ax_default label">
            <div id="u121_div" class=""></div>
            <div id="u121_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u122" class="ax_default" data-left="1274" data-top="1303" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u123" class="ax_default _图片">
            <img id="u123_img" class="img " src="../../images/main/u89.png"/>
            <div id="u123_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u124" class="ax_default button">
            <img id="u124_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u124_text" class="text ">
              <p><span>小米米家电动滑板车Pro</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u125" class="ax_default label">
            <div id="u125_div" class=""></div>
            <div id="u125_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u126" class="ax_default label">
          <div id="u126_div" class=""></div>
          <div id="u126_text" class="text ">
            <p><span>电子设备</span></p>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u127" class="ax_default" data-left="485" data-top="1635" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u128" class="ax_default _图片">
            <img id="u128_img" class="img " src="../../images/main/u94.png"/>
            <div id="u128_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u129" class="ax_default button">
            <img id="u129_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u129_text" class="text ">
              <p><span>奥利奥巧克力味夹心饼干</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u130" class="ax_default label">
            <div id="u130_div" class=""></div>
            <div id="u130_text" class="text ">
              <p><span>￥ 19.90 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u131" class="ax_default" data-left="744" data-top="1635" data-width="194" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u132" class="ax_default _图片">
            <img id="u132_img" class="img " src="../../images/main/u98.png"/>
            <div id="u132_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u133" class="ax_default button">
            <img id="u133_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u133_text" class="text ">
              <p><span>三只松鼠奶油味夏威夷果</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u134" class="ax_default label">
            <div id="u134_div" class=""></div>
            <div id="u134_text" class="text ">
              <p><span>￥ 40.80 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u135" class="ax_default" data-left="1010" data-top="1635" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u136" class="ax_default _图片">
            <img id="u136_img" class="img " src="../../images/main/u102.png"/>
            <div id="u136_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u137" class="ax_default button">
            <img id="u137_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u137_text" class="text ">
              <p><span>荷兰进口 乐荷全脂有机纯牛奶</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u138" class="ax_default label">
            <div id="u138_div" class=""></div>
            <div id="u138_text" class="text ">
              <p><span>￥ 198.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u139" class="ax_default" data-left="1269" data-top="1635" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u140" class="ax_default _图片">
            <img id="u140_img" class="img " src="../../images/main/u89.png"/>
            <div id="u140_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u141" class="ax_default button">
            <img id="u141_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u141_text" class="text ">
              <p><span>小米米家电动滑板车Pro</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u142" class="ax_default label">
            <div id="u142_div" class=""></div>
            <div id="u142_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u143" class="ax_default label">
          <div id="u143_div" class=""></div>
          <div id="u143_text" class="text ">
            <p><span>饮食</span></p>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u144" class="ax_default" data-left="490" data-top="1998" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u145" class="ax_default _图片">
            <img id="u145_img" class="img " src="../../images/main/u77.png"/>
            <div id="u145_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u146" class="ax_default button">
            <img id="u146_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u146_text" class="text ">
              <p><span>尼康D7500 单反相机 数码相机 </span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u147" class="ax_default label">
            <div id="u147_div" class=""></div>
            <div id="u147_text" class="text ">
              <p><span>￥ 6999.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u148" class="ax_default" data-left="753" data-top="1998" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u149" class="ax_default _图片">
            <img id="u149_img" class="img " src="../../images/main/u81.png"/>
            <div id="u149_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u150" class="ax_default button">
            <img id="u150_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u150_text" class="text ">
              <p><span>Kindle 电子书阅读器</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u151" class="ax_default label">
            <div id="u151_div" class=""></div>
            <div id="u151_text" class="text ">
              <p><span>￥ 998.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u152" class="ax_default" data-left="1015" data-top="1998" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u153" class="ax_default _图片">
            <img id="u153_img" class="img " src="../../images/main/u85.png"/>
            <div id="u153_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u154" class="ax_default button">
            <img id="u154_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u154_text" class="text ">
              <p><span>森海塞尔（Sennheiser）</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u155" class="ax_default label">
            <div id="u155_div" class=""></div>
            <div id="u155_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u156" class="ax_default" data-left="1274" data-top="1998" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u157" class="ax_default _图片">
            <img id="u157_img" class="img " src="../../images/main/u89.png"/>
            <div id="u157_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u158" class="ax_default button">
            <img id="u158_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u158_text" class="text ">
              <p><span>小米米家电动滑板车Pro</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u159" class="ax_default label">
            <div id="u159_div" class=""></div>
            <div id="u159_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u160" class="ax_default label">
          <div id="u160_div" class=""></div>
          <div id="u160_text" class="text ">
            <p><span>电子设备</span></p>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u161" class="ax_default" data-left="485" data-top="2330" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u162" class="ax_default _图片">
            <img id="u162_img" class="img " src="../../images/main/u94.png"/>
            <div id="u162_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u163" class="ax_default button">
            <img id="u163_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u163_text" class="text ">
              <p><span>奥利奥巧克力味夹心饼干</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u164" class="ax_default label">
            <div id="u164_div" class=""></div>
            <div id="u164_text" class="text ">
              <p><span>￥ 19.90 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u165" class="ax_default" data-left="744" data-top="2330" data-width="194" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u166" class="ax_default _图片">
            <img id="u166_img" class="img " src="../../images/main/u98.png"/>
            <div id="u166_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u167" class="ax_default button">
            <img id="u167_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u167_text" class="text ">
              <p><span>三只松鼠奶油味夏威夷果</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u168" class="ax_default label">
            <div id="u168_div" class=""></div>
            <div id="u168_text" class="text ">
              <p><span>￥ 40.80 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u169" class="ax_default" data-left="1010" data-top="2330" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u170" class="ax_default _图片">
            <img id="u170_img" class="img " src="../../images/main/u102.png"/>
            <div id="u170_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u171" class="ax_default button">
            <img id="u171_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u171_text" class="text ">
              <p><span>荷兰进口 乐荷全脂有机纯牛奶</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u172" class="ax_default label">
            <div id="u172_div" class=""></div>
            <div id="u172_text" class="text ">
              <p><span>￥ 198.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u173" class="ax_default" data-left="1269" data-top="2330" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u174" class="ax_default _图片">
            <img id="u174_img" class="img " src="../../images/main/u89.png"/>
            <div id="u174_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u175" class="ax_default button">
            <img id="u175_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u175_text" class="text ">
              <p><span>小米米家电动滑板车Pro</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u176" class="ax_default label">
            <div id="u176_div" class=""></div>
            <div id="u176_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u177" class="ax_default label">
          <div id="u177_div" class=""></div>
          <div id="u177_text" class="text ">
            <p><span>饮食</span></p>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u178" class="ax_default" data-left="495" data-top="2663" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u179" class="ax_default _图片">
            <img id="u179_img" class="img " src="../../images/main/u77.png"/>
            <div id="u179_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u180" class="ax_default button">
            <img id="u180_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u180_text" class="text ">
              <p><span>尼康D7500 单反相机 数码相机 </span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u181" class="ax_default label">
            <div id="u181_div" class=""></div>
            <div id="u181_text" class="text ">
              <p><span>￥ 6999.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u182" class="ax_default" data-left="758" data-top="2663" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u183" class="ax_default _图片">
            <img id="u183_img" class="img " src="../../images/main/u81.png"/>
            <div id="u183_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u184" class="ax_default button">
            <img id="u184_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u184_text" class="text ">
              <p><span>Kindle 电子书阅读器</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u185" class="ax_default label">
            <div id="u185_div" class=""></div>
            <div id="u185_text" class="text ">
              <p><span>￥ 998.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u186" class="ax_default" data-left="1020" data-top="2663" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u187" class="ax_default _图片">
            <img id="u187_img" class="img " src="../../images/main/u85.png"/>
            <div id="u187_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u188" class="ax_default button">
            <img id="u188_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u188_text" class="text ">
              <p><span>森海塞尔（Sennheiser）</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u189" class="ax_default label">
            <div id="u189_div" class=""></div>
            <div id="u189_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u190" class="ax_default" data-left="1279" data-top="2663" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u191" class="ax_default _图片">
            <img id="u191_img" class="img " src="../../images/main/u89.png"/>
            <div id="u191_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u192" class="ax_default button">
            <img id="u192_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u192_text" class="text ">
              <p><span>小米米家电动滑板车Pro</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u193" class="ax_default label">
            <div id="u193_div" class=""></div>
            <div id="u193_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u194" class="ax_default label">
          <div id="u194_div" class=""></div>
          <div id="u194_text" class="text ">
            <p><span>电子设备</span></p>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u195" class="ax_default" data-left="490" data-top="2995" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u196" class="ax_default _图片">
            <img id="u196_img" class="img " src="../../images/main/u94.png"/>
            <div id="u196_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u197" class="ax_default button">
            <img id="u197_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u197_text" class="text ">
              <p><span>奥利奥巧克力味夹心饼干</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u198" class="ax_default label">
            <div id="u198_div" class=""></div>
            <div id="u198_text" class="text ">
              <p><span>￥ 19.90 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u199" class="ax_default" data-left="749" data-top="2995" data-width="194" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u200" class="ax_default _图片">
            <img id="u200_img" class="img " src="../../images/main/u98.png"/>
            <div id="u200_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u201" class="ax_default button">
            <img id="u201_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u201_text" class="text ">
              <p><span>三只松鼠奶油味夏威夷果</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u202" class="ax_default label">
            <div id="u202_div" class=""></div>
            <div id="u202_text" class="text ">
              <p><span>￥ 40.80 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u203" class="ax_default" data-left="1015" data-top="2995" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u204" class="ax_default _图片">
            <img id="u204_img" class="img " src="../../images/main/u102.png"/>
            <div id="u204_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u205" class="ax_default button">
            <img id="u205_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u205_text" class="text ">
              <p><span>荷兰进口 乐荷全脂有机纯牛奶</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u206" class="ax_default label">
            <div id="u206_div" class=""></div>
            <div id="u206_text" class="text ">
              <p><span>￥ 198.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u207" class="ax_default" data-left="1274" data-top="2995" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u208" class="ax_default _图片">
            <img id="u208_img" class="img " src="../../images/main/u89.png"/>
            <div id="u208_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u209" class="ax_default button">
            <img id="u209_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u209_text" class="text ">
              <p><span>小米米家电动滑板车Pro</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u210" class="ax_default label">
            <div id="u210_div" class=""></div>
            <div id="u210_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u211" class="ax_default label">
          <div id="u211_div" class=""></div>
          <div id="u211_text" class="text ">
            <p><span>饮食</span></p>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u212" class="ax_default" data-left="510" data-top="3356" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u213" class="ax_default _图片">
            <img id="u213_img" class="img " src="../../images/main/u77.png"/>
            <div id="u213_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u214" class="ax_default button">
            <img id="u214_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u214_text" class="text ">
              <p><span>尼康D7500 单反相机 数码相机 </span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u215" class="ax_default label">
            <div id="u215_div" class=""></div>
            <div id="u215_text" class="text ">
              <p><span>￥ 6999.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u216" class="ax_default" data-left="773" data-top="3356" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u217" class="ax_default _图片">
            <img id="u217_img" class="img " src="../../images/main/u81.png"/>
            <div id="u217_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u218" class="ax_default button">
            <img id="u218_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u218_text" class="text ">
              <p><span>Kindle 电子书阅读器</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u219" class="ax_default label">
            <div id="u219_div" class=""></div>
            <div id="u219_text" class="text ">
              <p><span>￥ 998.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u220" class="ax_default" data-left="1035" data-top="3356" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u221" class="ax_default _图片">
            <img id="u221_img" class="img " src="../../images/main/u85.png"/>
            <div id="u221_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u222" class="ax_default button">
            <img id="u222_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u222_text" class="text ">
              <p><span>森海塞尔（Sennheiser）</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u223" class="ax_default label">
            <div id="u223_div" class=""></div>
            <div id="u223_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u224" class="ax_default" data-left="1294" data-top="3356" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u225" class="ax_default _图片">
            <img id="u225_img" class="img " src="../../images/main/u89.png"/>
            <div id="u225_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u226" class="ax_default button">
            <img id="u226_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u226_text" class="text ">
              <p><span>小米米家电动滑板车Pro</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u227" class="ax_default label">
            <div id="u227_div" class=""></div>
            <div id="u227_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u228" class="ax_default label">
          <div id="u228_div" class=""></div>
          <div id="u228_text" class="text ">
            <p><span>电子设备</span></p>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u229" class="ax_default" data-left="505" data-top="3688" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u230" class="ax_default _图片">
            <img id="u230_img" class="img " src="../../images/main/u94.png"/>
            <div id="u230_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u231" class="ax_default button">
            <img id="u231_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u231_text" class="text ">
              <p><span>奥利奥巧克力味夹心饼干</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u232" class="ax_default label">
            <div id="u232_div" class=""></div>
            <div id="u232_text" class="text ">
              <p><span>￥ 19.90 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u233" class="ax_default" data-left="764" data-top="3688" data-width="194" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u234" class="ax_default _图片">
            <img id="u234_img" class="img " src="../../images/main/u98.png"/>
            <div id="u234_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u235" class="ax_default button">
            <img id="u235_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u235_text" class="text ">
              <p><span>三只松鼠奶油味夏威夷果</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u236" class="ax_default label">
            <div id="u236_div" class=""></div>
            <div id="u236_text" class="text ">
              <p><span>￥ 40.80 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u237" class="ax_default" data-left="1030" data-top="3688" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u238" class="ax_default _图片">
            <img id="u238_img" class="img " src="../../images/main/u102.png"/>
            <div id="u238_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u239" class="ax_default button">
            <img id="u239_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u239_text" class="text ">
              <p><span>荷兰进口 乐荷全脂有机纯牛奶</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u240" class="ax_default label">
            <div id="u240_div" class=""></div>
            <div id="u240_text" class="text ">
              <p><span>￥ 198.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Group) -->
        <div id="u241" class="ax_default" data-left="1289" data-top="3688" data-width="190" data-height="223">
  
          <!-- Unnamed (Image) -->
          <div id="u242" class="ax_default _图片">
            <img id="u242_img" class="img " src="../../images/main/u89.png"/>
            <div id="u242_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (Shape) -->
          <div id="u243" class="ax_default button">
            <img id="u243_img" class="img " src="../../images/main/u78.svg"/>
            <div id="u243_text" class="text ">
              <p><span>小米米家电动滑板车Pro</span></p>
            </div>
          </div>
  
          <!-- Unnamed (Rectangle) -->
          <div id="u244" class="ax_default label">
            <div id="u244_div" class=""></div>
            <div id="u244_text" class="text ">
              <p><span>￥ 2799.00 </span></p>
            </div>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u245" class="ax_default label">
          <div id="u245_div" class=""></div>
          <div id="u245_text" class="text ">
            <p><span>饮食</span></p>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u246" class="ax_default box_2">
          <div id="u246_div" class=""></div>
          <div id="u246_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
  
        <!-- Unnamed (Rectangle) -->
        <div id="u247" class="ax_default box_2">
          <div id="u247_div" class=""></div>
          <div id="u247_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
  </div>

     <!-- Unnamed (Rectangle) -->
    <div id="footer" class="ax_default box_1">
      <div id="u73_div" class="">
      <div id="u73_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    

    <!-- Unnamed (Rectangle) -->
    <div id="u74" class="ax_default label">
      <div id="u74_div" class=""></div>
      <div id="u74_text" class="text ">
        <p><span>Copyright 2021 yinghaohuicui.com ALL Rights Reserved</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u75" class="ax_default label">
      <div id="u75_div" class=""></div>
      <div id="u75_text" class="text ">
        <p><span>开发成员：李晓恒 高天宸 王文炯 黄金坤 李林飞 卢子昂 邵国诚 沈星宇 吴英豪 宁泰</span></p>
      </div>
    </div>
  </div>
  </div>

</div>  
      <script src="resources/scripts/axure/ios.js"></script>
      
</body>
</html>