<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Home/index/index.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Common/common.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Common/shortcut_five.css" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/Home/index/carousel.css" type="text/css">
    <link href="~/css/Home/index/animate.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Home/index/part.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="~/js/Common/vue.js"></script>

    <link href="~/css/Common/naviRight.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">

    <title>欢迎来到英豪荟萃~</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
    @await Html.PartialAsync("~/Views/Shared/backToTop.cshtml")
</head>
<body>
    <div id="lift">
        <ul>
            <li class="item"><a href="#part1"><div>服装</div></a></li>
            <li class="item"><a href="#part2"><div>电子</div></a></li>
            <li class="item"><a href="#part3"><div>书籍</div></a></li>
            <li class="item"><a href="#part4"><div>宠物</div></a></li>
            <li class="item"><a href="#part5"><div>运动</div></a></li>
            <li class="item"><a href="#part6"><div>食品</div></a></li>
            <li class="item"><a href="#part7"><div>家居</div></a></li>
            <li class="item"><a href="#part8"><div>美妆</div></a></li>
            <li class="item"><a href="#part9"><div>洗护</div></a></li>
        </ul>
    </div>

    <div id="naviRight">
        <naviright>

        </naviright>
    </div>
    <div id="shortcut">
        <shortcut></shortcut>
    </div>
    <div class="search">
        <div class="fl huicui">
            <img src="~/Images/Home/index/yinghaohuicui.png">
        </div>
        <div>
            <input id="Context" type="text" placeholder="关键词搜索" class="fl">
        </div>
        <button class="fl" onclick="submitSearch()"></button>
        <div class="nav fr">



            <div class="nav_son login">
                <img src="/Images/Home/index/u64.svg">
                <div id="utility1">
                    <a href="/Entry/BuyerLogIn" class="fl">登录</a>
                    <p class="fl">|</p>
                    <a href="/Entry/BuyerSignUp" class="fl">注册</a>
                </div>
            </div>

            <div class="nav_son">
                <img src="~/Images/Home/index/shoppingcart.svg" alt="">
                <a href="/Purchase/ShoppingCart">购物车</a>
            </div>
            <div class="nav_son">
                <img src="~/Images/Home/index/notice.svg" alt="">
                <a href="/Favorites/follow">关注</a>
            </div>
            <div class="nav_son">
                <img src="~/Images/Home/index/bro_history.svg" alt="">
                <a href="/Ranking/UniversalList">排行榜</a>
            </div>
            <div class="nav_son">
                <img src="~/Images/Home/index/bookmark.svg" alt="">
                <a href="/Favorites/favorite">收藏夹</a>
            </div>
            <div class="nav_son">
                <img src="~/Images/Home/index/orders.svg" alt="">
                <a href="/Account/orders">历史订单</a>
            </div>
            <div class="nav_son">
                <img src="~/Images/Home/index/coupon.svg" alt="">
                <a href="#">优惠券</a>
            </div>

        </div>
    </div>
    <div class="different_kind">
        <img src="~/Images/Home/index/indextop.png" alt="Alternate Text" />
    </div>
    <div class="recommend">
        <div id="carousel1">
            <carousel class="carousel1"></carousel>
        </div>
        <div class="rcmd_box">
            <ul>
                <li @@click="chooseAddress(thing,index)" v-for='(thing,index) in goods' :key='index'>
                    <a>
                        <img :src="thing.img">
                        <div class="introduce">
                            {{thing.intro}}
                        </div>
                        <div class="shop">
                            店铺：{{thing.shop}}
                        </div>
                    </a>

                </li>
            </ul>
            <div class="change_btn" onclick="getRcmd()">

                换一换
            </div>
        </div>
    </div>

    <div id="part1">
        <div class="kind">
            <div class="card_list">
                <div class="part_title">
                    <p class="ti">{{this.type}}</p>

                    <div class="change_bt" onclick=" setGoods('服装') ">
                        换一换
                    </div>

                </div>
                <ul>
                    <li @@click="chooseAddress(thing,index)" v-for='(thing,index) in goods' :key='thing.key'>
                        <a href="javascript:;">
                            <img :src="thing.img">
                            <div class="introduce">
                                {{thing.intro}}
                            </div>
                            <div class="shop">
                                店铺：{{thing.shop}}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rank">
                <div class="rank_title">
                    排行榜
                </div>
                <div class="ranklist">
                    <ul>
                        <li @@click="chooseAddressRank(thing,index)" v-for='(thing,index) in rank' :key='index'>
                            <div class="rk">{{number[index]}}</div>
                            <a href="javascript:;">
                                <div class="name">{{thing.commodityName}}</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="part2">
        <div class="kind">
            <div class="card_list">
                <div class="part_title">
                    <p class="ti">{{this.type}}</p>

                    <div class="change_bt" onclick="setGoods('电子产品')">
                        换一换
                    </div>

                </div>
                <ul>
                    <li @@click="chooseAddress(thing,index)" v-for='(thing,index) in goods' :key='thing.key'>
                        <a href="javascript:;">
                            <img :src="thing.img">
                            <div class="introduce">
                                {{thing.intro}}
                            </div>
                            <div class="shop">
                                店铺：{{thing.shop}}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rank">
                <div class="rank_title">
                    排行榜
                </div>
                <div class="ranklist">
                    <ul>
                        <li @@click="chooseAddressRank(thing,index)" v-for='(thing,index) in rank' :key='index'>
                            <div class="rk">{{number[index]}}</div>
                            <a href="javascript:;">
                                <div class="name">{{thing.commodityName}}</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="part3">
        <div class="kind">
            <div class="card_list">
                <div class="part_title">
                    <p class="ti">{{this.type}}</p>

                    <div class="change_bt" onclick="setGoods('书籍')">
                        换一换
                    </div>

                </div>
                <ul>
                    <li @@click="chooseAddress(thing,index)" v-for='(thing,index) in goods' :key='thing.key'>
                        <a href="javascript:;">
                            <img :src="thing.img">
                            <div class="introduce">
                                {{thing.intro}}
                            </div>
                            <div class="shop">
                                店铺：{{thing.shop}}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rank">
                <div class="rank_title">
                    排行榜
                </div>
                <div class="ranklist">
                    <ul>
                        <li @@click="chooseAddressRank(thing,index)" v-for='(thing,index) in rank' :key='index'>
                            <div class="rk">{{number[index]}}</div>
                            <a href="javascript:;">
                                <div class="name">{{thing.commodityName}}</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="part4">
        <div class="kind">
            <div class="card_list">
                <div class="part_title">
                    <p class="ti">{{this.type}}</p>

                    <div class="change_bt" onclick="setGoods('宠物')">
                        换一换
                    </div>

                </div>
                <ul>
                    <li @@click="chooseAddress(thing,index)" v-for='(thing,index) in goods' :key='thing.key'>
                        <a href="javascript:;">
                            <img :src="thing.img">
                            <div class="introduce">
                                {{thing.intro}}
                            </div>
                            <div class="shop">
                                店铺：{{thing.shop}}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rank">
                <div class="rank_title">
                    排行榜
                </div>
                <div class="ranklist">
                    <ul>
                        <li @@click="chooseAddressRank(thing,index)" v-for='(thing,index) in rank' :key='index'>
                            <div class="rk">{{number[index]}}</div>
                            <a href="javascript:;">
                                <div class="name">{{thing.commodityName}}</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="part5">
        <div class="kind">
            <div class="card_list">
                <div class="part_title">
                    <p class="ti">{{this.type}}</p>

                    <div class="change_bt" onclick="setGoods('运动')">
                        换一换
                    </div>

                </div>
                <ul>
                    <li @@click="chooseAddress(thing,index)" v-for='(thing,index) in goods' :key='thing.key'>
                        <a href="javascript:;">
                            <img :src="thing.img">
                            <div class="introduce">
                                {{thing.intro}}
                            </div>
                            <div class="shop">
                                店铺：{{thing.shop}}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rank">
                <div class="rank_title">
                    排行榜
                </div>
                <div class="ranklist">
                    <ul>
                        <li @@click="chooseAddressRank(thing,index)" v-for='(thing,index) in rank' :key='index'>
                            <div class="rk">{{number[index]}}</div>
                            <a href="javascript:;">
                                <div class="name">{{thing.commodityName}}</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="part6">
        <div class="kind">
            <div class="card_list">
                <div class="part_title">
                    <p class="ti">{{this.type}}</p>

                    <div class="change_bt" onclick="setGoods('食品')">
                        换一换
                    </div>

                </div>
                <ul>
                    <li @@click="chooseAddress(thing,index)" v-for='(thing,index) in goods' :key='thing.key'>
                        <a href="javascript:;">
                            <img :src="thing.img">
                            <div class="introduce">
                                {{thing.intro}}
                            </div>
                            <div class="shop">
                                店铺：{{thing.shop}}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rank">
                <div class="rank_title">
                    排行榜
                </div>
                <div class="ranklist">
                    <ul>
                        <li @@click="chooseAddressRank(thing,index)" v-for='(thing,index) in rank' :key='index'>
                            <div class="rk">{{number[index]}}</div>
                            <a href="javascript:;">
                                <div class="name">{{thing.commodityName}}</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="part7">
        <div class="kind">
            <div class="card_list">
                <div class="part_title">
                    <p class="ti">{{this.type}}</p>

                    <div class="change_bt" onclick="setGoods('家居')">
                        换一换
                    </div>

                </div>
                <ul>
                    <li @@click="chooseAddress(thing,index)" v-for='(thing,index) in goods' :key='thing.key'>
                        <a href="javascript:;">
                            <img :src="thing.img">
                            <div class="introduce">
                                {{thing.intro}}
                            </div>
                            <div class="shop">
                                店铺：{{thing.shop}}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rank">
                <div class="rank_title">
                    排行榜
                </div>
                <div class="ranklist">
                    <ul>
                        <li @@click="chooseAddressRank(thing,index)" v-for='(thing,index) in rank' :key='index'>
                            <div class="rk">{{number[index]}}</div>
                            <a href="javascript:;">
                                <div class="name">{{thing.commodityName}}</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="part8">
        <div class="kind">
            <div class="card_list">
                <div class="part_title">
                    <p class="ti">{{this.type}}</p>

                    <div class="change_bt" onclick="setGoods('美妆')">
                        换一换
                    </div>

                </div>
                <ul>
                    <li @@click="chooseAddress(thing,index)" v-for='(thing,index) in goods' :key='thing.key'>
                        <a href="javascript:;">
                            <img :src="thing.img">
                            <div class="introduce">
                                {{thing.intro}}
                            </div>
                            <div class="shop">
                                店铺：{{thing.shop}}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rank">
                <div class="rank_title">
                    排行榜
                </div>
                <div class="ranklist">
                    <ul>
                        <li @@click="chooseAddressRank(thing,index)" v-for='(thing,index) in rank' :key='index'>
                            <div class="rk">{{number[index]}}</div>
                            <a href="javascript:;">
                                <div class="name">{{thing.commodityName}}</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="part9">
        <div class="kind">
            <div class="card_list">
                <div class="part_title">
                    <p class="ti">{{this.type}}</p>

                    <div class="change_bt" onclick="setGoods('洗护')">
                        换一换
                    </div>

                </div>
                <ul>
                    <li @@click="chooseAddress(thing,index)" v-for='(thing,index) in goods' :key='thing.key'>
                        <a href="javascript:;">
                            <img :src="thing.img">
                            <div class="introduce">
                                {{thing.intro}}
                            </div>
                            <div class="shop">
                                店铺：{{thing.shop}}
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="rank">
                <div class="rank_title">
                    排行榜
                </div>
                <div class="ranklist">
                    <ul>
                        <li @@click="chooseAddressRank(thing,index)" v-for='(thing,index) in rank' :key='index'>
                            <div class="rk">{{number[index]}}</div>
                            <a href="javascript:;">
                                <div class="name">{{thing.commodityName}}</div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript" src="~/js/Common/carousel.js"></script>
    <script type="text/javascript" src="~/js/Common/shortcutFive.js"></script>
    <script type="text/javascript" src="~/js/Common/naviRight.js"></script>
    <script type="text/javascript" src="~/js/Home/index/index.js"></script>

</body>
</html>
