<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="css/login_styles.css" type="text/css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <div id="base" class="">

        <!-- 导航栏 (矩形) -->
        <div id="u219" class="ax_default box_1" data-label="导航栏">
          <div id="u219_div" class=""></div>
          <div id="u219_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
  
        <!-- 登录界面中部 (图片) -->
        <div id="u220" class="ax_default _图片" data-label="登录界面中部">
          <img id="u220_img" class="img " src="images/login/登录界面中部_u220.png"/>
          <div id="u220_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
  
        <!-- 用户登录信息框 (组 合) -->
        <div id="u221" class="ax_default" data-label="用户登录信息框" data-left="925" data-top="335" data-width="453" data-height="435">
  
          <!-- Unnamed (矩形) -->
          <div id="u222" class="ax_default box_2">
            <div id="u222_div" class=""></div>
            <div id="u222_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- 用户登录信息栏标题 (文本框) -->
          <div id="u223" class="ax_default text_field" data-label="用户登录信息栏标题">
            <div id="u223_div" class=""></div>
            <input id="u223_input" type="text" value="用户登录" class="u223_input"/>
          </div>
  
          <!-- 用户名输入框 (矩形) -->
          <div id="u224" class="ax_default box_1" data-label="用户名输入框">
            <div id="u224_div" class=""></div>
            <div id="u224_text" class="text ">
              <p><span>&nbsp; 用户名/手机号</span></p>
            </div>
          </div>
  
          <!-- 密码输入框 (矩形) -->
          <div id="u225" class="ax_default box_1" data-label="密码输入框">
            <div id="u225_div" class=""></div>
            <div id="u225_text" class="text ">
              <p><span>&nbsp; 密码</span></p>
            </div>
          </div>
  
          <!-- 用户名输入框边上的图标 (图片) -->
          <div id="u226" class="ax_default _图片" data-label="用户名输入框边上的图标">
            <img id="u226_img" class="img " src="images/login/用户名输入框边上的图标_u226.png"/>
            <div id="u226_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- 密码输入框边上的图标 (图片) -->
          <div id="u227" class="ax_default _图片" data-label="密码输入框边上的图标">
            <img id="u227_img" class="img " src="images/login/密码输入框边上的图标_u227.png"/>
            <div id="u227_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (文本框) -->
          <div id="u228" class="ax_default text_field">
            <div id="u228_div" class=""></div>
            <input id="u228_input" type="text" value="保存密码" class="u228_input"/>
          </div>
  
          <!-- Unnamed (单选按钮) -->
          <div id="u229" class="ax_default radio_button">
            <label id="u229_input_label" for="u229_input" style="position: absolute; left: 0px;">
              <img id="u229_img" class="img " src="images/login/u229.svg"/>
              <div id="u229_text" class="text " style="display:none; visibility: hidden">
                <p></p>
              </div>
            </label>
            <input id="u229_input" type="radio" value="radio" name="u229"/>
          </div>
  
          <!-- Unnamed (文本框) -->
          <div id="u230" class="ax_default text_field">
            <div id="u230_div" class=""></div>
            <input id="u230_input" type="text" value="尚未拥有账号？" class="u230_input"/>
          </div>
  
          <!-- Unnamed (文本框) -->
          <div id="u231" class="ax_default text_field">
            <div id="u231_div" class=""></div>
            <input id="u231_input" type="text" value="立即注册" class="u231_input"/>
          </div>
  
          <!-- “登录”按钮 (矩形) -->
          <div id="u232" class="ax_default button" data-label="“登录”按钮">
            <div id="u232_div" class=""></div>
            <div id="u232_text" class="text ">
              <p><span>开&nbsp; 启&nbsp; 荟&nbsp; 萃</span></p>
            </div>
          </div>
  
          <!-- Unnamed (文本框) -->
          <div id="u233" class="ax_default text_field">
            <div id="u233_div" class=""></div>
            <input id="u233_input" type="text" value="忘记密码" class="u233_input"/>
          </div>
        </div>
  
        <!-- 导航栏主界面按钮 (组 合) -->
        <div id="u234" class="ax_default" data-label="导航栏主界面按钮" data-left="429" data-top="0" data-width="166" data-height="66">
  
          <!-- Unnamed (矩形) -->
          <div id="u235" class="ax_default box_3">
            <div id="u235_div" class=""></div>
            <div id="u235_text" class="text ">
              <p><span>主界面</span></p>
            </div>
          </div>
  
          <!-- Unnamed (矩形) -->
          <div id="u236" class="ax_default box_2">
            <div id="u236_div" class=""></div>
            <div id="u236_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- 导航栏账户中心按钮 (组 合) -->
        <div id="u237" class="ax_default" data-label="导航栏账户中心按钮" data-left="595" data-top="0" data-width="165" data-height="66">
  
          <!-- Unnamed (矩形) -->
          <div id="u238" class="ax_default box_3">
            <div id="u238_div" class=""></div>
            <div id="u238_text" class="text ">
              <p><span>账户中心</span></p>
            </div>
          </div>
  
          <!-- Unnamed (矩形) -->
          <div id="u239" class="ax_default box_2">
            <div id="u239_div" class=""></div>
            <div id="u239_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- 导航栏“加入英豪”按钮 (组 合) -->
        <div id="u240" class="ax_default" data-label="导航栏“加入英豪”按钮" data-left="760" data-top="0" data-width="165" data-height="66">
  
          <!-- Unnamed (矩形) -->
          <div id="u241" class="ax_default box_3">
            <div id="u241_div" class=""></div>
            <div id="u241_text" class="text ">
              <p><span>加入英豪</span></p>
            </div>
          </div>
  
          <!-- Unnamed (矩形) -->
          <div id="u242" class="ax_default box_2">
            <div id="u242_div" class=""></div>
            <div id="u242_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- 导航栏“网站导航”按钮 (组 合) -->
        <div id="u243" class="ax_default" data-label="导航栏“网站导航”按钮" data-left="925" data-top="0" data-width="165" data-height="66">
  
          <!-- Unnamed (矩形) -->
          <div id="u244" class="ax_default box_3">
            <div id="u244_div" class=""></div>
            <div id="u244_text" class="text ">
              <p><span>网站导航</span></p>
            </div>
          </div>
  
          <!-- Unnamed (矩形) -->
          <div id="u245" class="ax_default box_2">
            <div id="u245_div" class=""></div>
            <div id="u245_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
        </div>
  
        <!-- 登录界面上部 (图片) -->
        <div id="u246" class="ax_default _图片" data-label="登录界面上部">
          <img id="u246_img" class="img " src="images/login/登录界面上部_u246.png"/>
          <div id="u246_text" class="text " style="display:none; visibility: hidden">
            <p></p>
          </div>
        </div>
  
        <!-- 登录界面底部信息框 (组 合) -->
        <div id="u247" class="ax_default" data-label="登录界面底部信息框" data-left="0" data-top="916" data-width="1519" data-height="257">
  
          <!-- Unnamed (矩形) -->
          <div id="u248" class="ax_default box_1">
            <div id="u248_div" class=""></div>
            <div id="u248_text" class="text " style="display:none; visibility: hidden">
              <p></p>
            </div>
          </div>
  
          <!-- Unnamed (矩形) -->
          <div id="u249" class="ax_default label">
            <div id="u249_div" class=""></div>
            <div id="u249_text" class="text ">
              <p><span>Copyright 2021 yinghaohuicui.com ALL Rights Reserved</span></p>
            </div>
          </div>
  
          <!-- Unnamed (矩形) -->
          <div id="u250" class="ax_default label">
            <div id="u250_div" class=""></div>
            <div id="u250_text" class="text ">
              <p><span>开发成员：李晓恒 高天宸 王文炯 黄金坤 李林飞 卢子昂 邵国诚 沈星宇 吴英豪 宁泰</span></p>
            </div>
          </div>
        </div>
      </div>
      <script src="resources/scripts/axure/ios.js"></script>
</body>
</html>