<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <link href="~/css/Error/error404/404.css" type="text/css" rel="stylesheet">
    <title>404 NOT FOUND</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
</head>
<body>
    <div class = "message">
    <img src="~/Images/Error/error404/404.png"  alt="404 NOT FOUND" />
    </div>
</body>
</html>