<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Shop/shop/shop.css">
    <!--引入与导航栏有关的配置-->
    <link href="/css/Common/shortcut_five.css" rel="stylesheet">
    <!--右边栏-->
    <link href="/css/Common/naviRight.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
    <title>店铺详情页</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
</head>

<body>
    <!--右边栏-->
    <div id="naviRight">
        <naviright>

        </naviright>
    </div>
    <!--渲染导航栏-->
    <div id="shortcutlg">
        <shortcut></shortcut>
    </div>

    <div class="shopinfo_outerbox">
        <div class="shopinfo_titlebox">
            <div class="shopinfo_name">
                英豪荟萃官方店铺
            </div>
        </div>
        <div class="divider">

        </div>
        <div class="shopinfo_displaybox">
            <div id="line1" class="shopinfo_linebox" style="background-color: #CC9900;">
                <div class="qiangjiao1"></div>
                <div class="qiangjiao2"></div>
                <div class="shopinfo_linebox_bottomboard_light"></div>
                <div class="shopinfo_linebox_bottomboard_dark"></div>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
            </div>
            <div id="line2" class="shopinfo_linebox" style="background-color: #CC6600;">
                <div class="qiangjiao1"></div>
                <div class="qiangjiao2"></div>
                <div class="shopinfo_linebox_bottomboard_light"></div>
                <div class="shopinfo_linebox_bottomboard_dark"></div>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
            </div>
            <div id="line3" class="shopinfo_linebox" style="background-color: #663300;">
                <div class="qiangjiao1"></div>
                <div class="qiangjiao2"></div>
                <div class="shopinfo_linebox_bottomboard_light"></div>
                <div class="shopinfo_linebox_bottomboard_dark"></div>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
            </div>
            <div id="line4" class="shopinfo_linebox" style="background-color: #333300;">
                <div class="qiangjiao1"></div>
                <div class="qiangjiao2"></div>
                <div class="shopinfo_linebox_bottomboard_light"></div>
                <div class="shopinfo_linebox_bottomboard_dark"></div>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/Common/shortcutFive.js"></script>
    <script type="text/javascript" src="/js/Common/naviRight.js"></script>
    <script type="text/javascript" src="~/js/Shop/shop/shop.js"></script>
</body>
</html>