<!--店铺详情页-->
<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <!--引入tailwind-->
    <link href="https://unpkg.com/tailwindcss@@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="/css/Shop/shop/shop.css" rel="stylesheet">
    <!--引入与导航栏有关的配置-->
    <link href="/css/Common/shortcut_five.css" rel="stylesheet">

    <title>欢迎来到{{shopName}}</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
    @await Html.PartialAsync("~/Views/Shared/backToTop.cshtml")
</head>

<body>
    <!--渲染导航栏-->
    <div class="shortcutlg" id="shortcutlg">
        <shortcut></shortcut>
    </div>
    <!--搜索框以相关部分-->
    <div class="search-bar rounded-b-lg bg-gray-200 shadow">
        <div>
            这里是商家默认的图标
        </div>
        <div>
            这里商家的图片
        </div>
        <div>
            这里是一个搜索框
        </div>
        <div>
            这是一个购物车按钮
        </div>
    </div>
    <!--轮播图-->
    <div>
        这是一个轮播图
    </div>
    <div class="hint">
        <h2>jQuery卡通火箭返回顶部</h2>
        <p>滚动屏幕，点击右下角卡通火箭查看效果！！！</p>
    </div>
    <!--搜索页面-->
    <div>
        这是一个搜索组件
    </div>
    <!--商品详情-->
    <div>
        这里全部都是商品，好耶！
    </div>
    <!--商品详情-->
    <div>
        这里全部都是商品，好耶！
    </div>
    <!--商品详情-->
    <div>
        这里全部都是商品，好耶！
        <!--商品详情-->
        <div>
            这里全部都是商品，好耶！
            <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>    <!--商品详情-->
            <div>
                这里全部都是商品，好耶！
            </div>
        </div>
    </div>
    <!--测试-->
    <div id="backtotop">
        <backtotop></backtotop>
    </div>

    <script type="text/javascript" src="/js/Common/shortcutFive.js"></script>
    <script type="text/javascript" src="/js/Shop/shop/shop.js"></script>
</body>

</html>