<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <script type="text/javascript" src="~/js/Shop/shop/shop.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/Shop/shop/shop.css">
</head>

<body>
    <div class="shopinfo_outerbox">
        <div class="shopinfo_titlebox">
            <div class="shopinfo_name">
                英豪荟萃官方店铺
            </div>
        </div>
        <div class="divider">

        </div>
        <div class="shopinfo_displaybox">
            <div id="line1" class="shopinfo_linebox" style="background-color: #CC9900;">
                <div class="qiangjiao1"></div>
                <div class="qiangjiao2"></div>
                <div class="shopinfo_linebox_bottomboard_light"></div>
                <div class="shopinfo_linebox_bottomboard_dark"></div>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
            </div>
            <div id="line2" class="shopinfo_linebox" style="background-color: #CC6600;">
                <div class="qiangjiao1"></div>
                <div class="qiangjiao2"></div>
                <div class="shopinfo_linebox_bottomboard_light"></div>
                <div class="shopinfo_linebox_bottomboard_dark"></div>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
            </div>
            <div id="line3" class="shopinfo_linebox" style="background-color: #663300;">
                <div class="qiangjiao1"></div>
                <div class="qiangjiao2"></div>
                <div class="shopinfo_linebox_bottomboard_light"></div>
                <div class="shopinfo_linebox_bottomboard_dark"></div>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
            </div>
            <div id="line4" class="shopinfo_linebox" style="background-color: #333300;">
                <div class="qiangjiao1"></div>
                <div class="qiangjiao2"></div>
                <div class="shopinfo_linebox_bottomboard_light"></div>
                <div class="shopinfo_linebox_bottomboard_dark"></div>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
                <shop-item></shop-item>
            </div>
        </div>
    </div>
</body>
</html>