<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Shop/shop/shop.css">
    <!--引入与导航栏有关的配置-->
    <link href="/css/Common/shortcut_five.css" rel="stylesheet">
    <!--右边栏-->
    <link href="/css/Common/naviRight.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
    <title>店铺详情页</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
</head>

<body>
    <!--右边栏-->
    <div id="naviRight">
        <naviright>

        </naviright>
    </div>
    <!--渲染导航栏-->
    <div id="shortcutlg">
        <shortcut></shortcut>
    </div>

    <div id="shop_main" class="shopinfo_outerbox">
        <div class="divider"></div>
        <shop-display></shop-display>
    </div>
    <script type="text/javascript" src="/js/Common/shortcutFive.js"></script>
    <script type="text/javascript" src="/js/Common/naviRight.js"></script>
    <script type="text/javascript" src="~/js/Shop/shop/shop.js"></script>
</body>
</html>