.carousel{
    width: 1200px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
    background-color: #fff;
    position: relative;
  }
  .carousel ul{
    width: 100%;
    height: 100%;
  }
  .carousel ul li{
    width: 100%;
    height: 100%;
  }
  .carousel ul li a img{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .bullet{
    position: absolute;
    font-size: 0;
    bottom: 20px;
    left: 50%;
    margin-left: -42px;
  }
  .bullet span{
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ffffff;
    margin-left: 15px;
    border-radius: 10px;
  }
  .bullet span:first-child{
    margin-left: 0;
  }
  .switch{
  
  }
  
  .switch span{
    position: absolute;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
   
    font-size: 20px;
    color: #ffffff;
    top: 50%;
    margin-top: -25px;
    cursor: pointer;
    font-family: "宋体";
  } 
  .switch span:hover{
  
  }
  
  #u71_img {
    border-width:0px;
    position:absolute;
    left:0px;
    top:0px;
    width:65px;
    height:65px;
  }

  #u72_img {
    border-width:0px;
    position:absolute;
    right:0px;
    top:0px;
    width:65px;
    height:65px;
  }
  .prev{
    left:0px;
  }
  .next{
    right:0px;
  }
  .active{
    background-color: #27B465 !important;
    width: 20px!important;
  }