body{
    position: relative;
    text-align: center;
}

.carousel1{
    height: 200px!important;;
    width: 459px!important;
    float: left;
}

.login_box{
    
    width: 360px;
    height:200px;
    top: 25px;
    left:-135px;
    display: block;
    border-radius: 2px;
    background-color: rgba(255, 255, 255);
    position: absolute;
    z-index: 4;
    /* display: none; */
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.appear{
    display: block!important;
}

.disappear{
    display: none!important;
}

.login_box .avator{
    width: 70px;
    height: 70px;
    background-color: rgba(236, 8, 8);
    position: absolute;
    border-radius: 50%;
    left: 145px;
    top: -35px;
    
    z-index: 1;
}

.nickname{
    color: #212121;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    z-index: 1;
}

.search{
    position: relative;
    margin: 20px auto 0;
    width: 1200px;
    height: 80px;
    display: block;
    z-index: 1;
}

.search input{
    margin-top: 10px;
    margin-left: 10px;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 28px;
    color: #7F7F7F;
    text-align: left;
    background-color: rgba(242, 242, 242, 1);
    outline: none;
}

.huicui{
    zoom: 0.8;
    margin-top: 10px;
}

.search button{
    margin-top: 10px;
    margin-left: 5px;
    background: url(../../../Images/Home/index/u42.svg);
    background-size: 100%;
    width: 50px;
    height: 50px;
    border: none;
}

.nav_son{
    width: 60px;
    height: 70px;
    float: left;
    margin-left: 10px;
    display: block;
    
}

.nav_son a{
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: normal;
    color: #555555;
}

.login{
    width: 70px!important;
}

.nav_son img{
    margin-left: auto;
    margin-right: auto;
    zoom: 0.8;
}

.different_kind{
    height: 90px;
    width: 999px;
    background-color: rgb(54, 22, 240);
    display: block;
    position: relative;
    margin: 20px auto 0;
}

.recommend{
    height: 200px;
    width: 999px;
    background-color: rgb(54, 22, 240);
    display: block;
    position: relative;
    margin: 20px auto 0;
}

.rcmd_box{
    width: 529px;
    height: 200px;
    float: right;
    background-color: rgb(233, 21, 21);
}

.change_btn{
    position: absolute;
    top: 0;
    right: -36px;
    width: 28px;
    height: 77px;
    border: 1px solid silver;
    border-radius: 2px;
    color: #505050;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 7px;
    line-height: 14px;
    cursor: pointer;
}



