body {
    position: relative;
    text-align: center;
}

#lift {
    position: fixed;
    top: 170px;
    left: 35px;
    width: 50px;
    background: #fff;
    border: 1px solid #bfbfbf;
    border-radius: 5px;
}

.item {
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 12px;
}

.item a{
    text-decoration:none;
    color:black;
    width:100%;
    height:100%;
}

.item a div {
    text-decoration: none;
    color: black;
    width: 100%;
    height: 100%;
}

    .item:hover {
        background: deepskyblue;
        color: #fff;
    }

.carousel1 {
    height: 200px !important;
    
    width: 470px !important;
    float: left;
}

.item {
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    font-size: 12px;
}


.item a{
    text-decoration:none;
    color:black;
}

.item:hover {
    background: deepskyblue;
    color: #fff; /*鼠标滑过,背景变蓝,字体颜色变白*/
}

.carousel1 {
    height: 200px !important;
    
    width: 470px !important;
    float: left;
}

.login_box {
    width: 360px;
    height: 200px;
    top: 25px;
    left: -135px;
    display: block;
    border-radius: 2px;
    background-color: rgba(255, 255, 255);
    position: absolute;
    z-index: 4;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.appear {
    display: block !important;
}

.disappear {
    display: none !important;
}

.login_box .avator {
    width: 70px;
    height: 70px;
    background-color: rgba(236, 8, 8);
    position: absolute;
    border-radius: 50%;
    left: 145px;
    top: -35px;
    z-index: 1;
}

.nickname {
    color: #212121;
    font-weight: 600;
    text-align: center;
    font-size: 16px;
    margin-top: 40px;
    z-index: 1;
}

.search {
    position: relative;
    margin: 20px auto 0;
    width: 1200px;
    height: 80px;
    display: block;
    z-index: 1;
}

    .search input {
        margin-top: 10px;
        margin-left: 10px;
        width: 450px;
        height: 50px;
        border-radius: 10px;
        border: none;
        font-size: 28px;
        color: #7F7F7F;
        text-align: left;
        background-color: rgba(242, 242, 242, 1);
        outline: none;
    }

.huicui {
    margin-top: 10px;
}

.search button {
    margin-top: 10px;
    margin-left: 5px;
    background: url(../../../Images/Home/index/u42.svg);
    background-size: 100%;
    width: 50px;
    height: 50px;
    border: none;
}

.nav_son {
    width: 60px;
    height: 70px;
    float: left;
    margin-left: 10px;
    display: block;
}

    .nav_son a {
        font-family: 'Arial Normal', 'Arial', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
        letter-spacing: normal;
        color: #555555;
    }

.login {
    width: 70px !important;
}

.nav_son img {
    margin-left: auto;
    margin-right: auto;
    zoom: 0.8;
}

.different_kind {
    height: 90px;
    width: 999px;
    background-color: rgb(54, 22, 240);
    display: block;
    position: relative;
    margin: 20px auto 0;
}


.different_kind img{
    width:100%;
    height:100%;
}

.recommend{
    height: 200px;
    width: 999px;
    display: block;
    position: relative;
    margin: 20px auto 0;
}

.rcmd_box {
    width: 529px;
    height: 200px;
    float: right;
}


.rcmd_box ul li {
    width: 162px;
    height: 94px;
    display: block;
    float: right;
    margin-left: 8px;
    margin-bottom: 10px;
}

.rcmd_box ul li a {
    text-decoration: none;
}

.rcmd_box ul li img {
    width: 162px;
    height: 96px;
}

.rcmd_box .introduce {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0 8px;
    height: 40px;
    overflow: hidden;
    font-weight: 500;
    text-align: left;
    color:white;

    position:relative;
    top:-75px;
    display:none;
}

.rcmd_box ul li:hover .introduce {
    display: block;
}



.rcmd_box ul li .shop {
    display: flex;
    font-size: 12px;
    line-height: 16px;
    height: 16px;
    color:white;
    position:relative;
    top:-80px;
    text-align:left;
    display:none;
}

.rcmd_box ul li:hover .shop {
    display: block;
}

.change_btn{

    position: absolute;
    top: 0;
    right: -36px;
    width: 28px;
    height: 60px;
    border: 1px solid silver;
    border-radius: 2px;
    color: #505050;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 7px;
    line-height: 14px;
    cursor: pointer;
}
