body{
    position: relative;
    text-align: center;
}

.search{
    position: relative;
    margin: 10px auto 0;
    width: 1200px;
    height: 80px;
    display: block;
    zoom: 1;
}

.search input{
    margin-top: 10px;
    margin-left: 10px;
    width: 450px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-size: 28px;
    color: #7F7F7F;
    text-align: left;
    background-color: rgba(242, 242, 242, 1);
    outline: none;
}

.huicui{
    zoom: 0.8;
    margin-top: 10px;
}

.search button{
    margin-top: 10px;
    margin-left: 5px;
    background: url(../../../Images/Home/index/u42.svg);
    background-size: 100%;
    width: 50px;
    height: 50px;
    border: none;
}

.nav_son{
    width: 60px;
    height: 70px;
    float: left;
    margin-left: 10px;
    display: block;
    
}

.nav_son a{
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    letter-spacing: normal;
    color: #555555;
}

.login{
    width: 70px!important;
}

.nav_son img{
    margin-left: auto;
    margin-right: auto;
    zoom: 0.8;
}

