body {
    margin: 0px;
    background-color: rgba(242, 242, 242, 1);
    zoom: 0.8;
}

.main {
    margin: 0px;
    position: relative;
    background-color: rgba(242, 242, 242, 1);
    left: -145px;
    width: 1519px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    zoom: 0.86;
}

.text {
    text-align: center;
    align-self: center;
    padding: 0px 0px 0px 0px;
    box-sizing: border-box;
    width: 100%;
}

.btext {
    position: absolute;
    align-self: center;
    padding: 2px 2px 2px 2px;
    box-sizing: border-box;
    width: 100%;
}

#main1 {
    position: absolute;
    left: 398px;
    top: 174px;
    width: 851px;
    height: 314px;
    display: flex;
    background-color: white;
}

#main2 {
    position: absolute;
    left: 398px;
    top: 518px;
    width: 851px;
    height: 480px;
    display: flex;
    background-color: white;
}


#logo {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1519px;
    height: 120px;
    display: flex;
}

#left {
    position: absolute;
    left: 0px;
    top: 119px;
    width: 300px;
    height: 879px;
    display: flex;
    background-color:white;
}

#index {
    position: absolute;
    left: 68px;
    top: 183px;
    width: 165px;
    height: 722px;
    display: flex;
    font-size: 36px;
    color: #6B97A2;
    text-align: center;
}

#orders-center {
    position: relative;
    display: flex;
    top: -300px;
}

#my-wallet {
    position: relative;
    top: -160px;
    display: flex;
}
#my-favourite {
    position: relative;
    top: -80px;
    display: flex;
}
#account-settings {
    position: relative;
    top: 120px;
    display: flex;
}

#option {
    position: absolute;
    left: 102px;
    top: 207px;
    width: 96px;
    height: 752px;
    display: flex;
    font-size: 24px;
    color: #888888;
}

#history_orders {
    position: relative;
    top: -230px;
    display: flex;
}
#shoppingcart {
    position: relative;
    top: -215px;
    display: flex;
}
#coupons {
    position: relative;
    top: -100px;
    display: flex;
}
#bookmarks {
    position: relative;
    top: -10px;
    display: flex;
}
#follow-shops {
    position: relative;
    top: 10px;
    display: flex;
}
#follow-goods {
    position: relative;
    top: 30px;
    display: flex;
}
#self-info {
    position: relative;
    top: 150px;
    display: flex;
}
#ac-security {
    position: relative;
    top: 170px;
    display: flex;
}
#address-manage {
    position: relative;
    top: 190px;
    display: flex;
}

#right {
    position: absolute;
    left: 1300px;
    top: 174px;
    width: 480px;
    height: 823px;
    display: flex;
    background-color:white;
}

#favourite {
    position: absolute;
    left: 1450px;
    top: 201px;
    width: 192px;
    height: 55px;
    display: flex;
    font-size: 48px;
    color: #6B97A2;
}

#my-order {
    position: absolute;
    left: 448px;
    top: 549px;
    width: 192px;
    height: 55px;
    display: flex;
    font-size: 48px;
    color: #6B97A2;
}

#promotion {
    position: absolute;
    left: 1333px;
    top: 271px;
    width: 434px;
    height: 55px;
    display: flex;
    font-size: 24px;
    color: #888888;
}
#portrait {
    position: absolute;
    left: 398px;
    top: 174px;
    width: 356px;
    height: 314px;
    display: flex;
}

#nickname {
    position: absolute;
    left: 938px;
    top: 207px;
    width: 108px;
    height: 51px;
    display: flex;
    font-size: 48px;
    color: #888888;
    text-align: center;
}

#tobe-paid {
    position: absolute;
    left: 446px;
    top: 628px;
    width: 125px;
    height: 154px;
    display: flex;
}

#tobe-received {
    position: absolute;
    left: 647px;
    top: 625px;
    width: 123px;
    height: 153px;
    display: flex;
}

#tobe-commented {
    position: absolute;
    left: 861px;
    top: 622px;
    width: 120px;
    height: 153px;
    display: flex;
}

#postsale {
    position: absolute;
    left: 1068px;
    top: 634px;
    width: 125px;
    height: 146px;
    display: flex;
}

#main3 {
    position: absolute;
    left: 398px;
    top: 174px;
    width: 1121px;
    height: 823px;
    display: flex;
    background-color:white;
}

#account-info {
    display: none;
}

#account-safe {
    display: none;
}

#portrait1 {
    position: absolute;
    left: 598px;
    top: 205px;
    width: 162px;
    height: 143px;
    display: flex;
}

#word-por {
    position: absolute;
    left: 489px;
    top: 255px;
    width: 79px;
    height: 43px;
    display: flex;
    font-size: 24px;
    color: #888888;
}

#ID {
    position: absolute;
    left: 595px;
    top: 381px;
    width: 133px;
    height: 43px;
    display: flex;
    font-size: 24px;
    color: #555555;
}

#iD {
    display: none;
}

#copy1 {
    position: absolute;
    left: 771px;
    top: 381px;
    width: 64px;
    height: 30px;
    display: flex;
    font-size: 24px;
    color: #74BEDF;
}

#nick-name {
    position: absolute;
    left: 595px;
    top: 431px;
    width: 151px;
    height: 32px;
    display: flex;
    padding: 2px 2px 2px 2px;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    letter-spacing: normal;
    color: #555555;
    vertical-align: none;
    text-align: left;
    text-transform: none;
    background-color: transparent;
    border-color: transparent;
}

#copy2 {
    position: absolute;
    left: 771px;
    top: 433px;
    width: 64px;
    height: 30px;
    display: flex;
    font-size: 24px;
    color: #74BEDF;
}

#accountID {
    position: absolute;
    left: 489px;
    top: 381px;
    width: 79px;
    height: 43px;
    display: flex;
    font-size: 24px;
    color: #888888;
}

#word-nick {
    position: absolute;
    left: 489px;
    top: 434px;
    width: 79px;
    height: 43px;
    display: flex;
    font-size: 24px;
    color: #888888;
}

#word-sex {
    position: absolute;
    left: 489px;
    top: 487px;
    width: 79px;
    height: 43px;
    display: flex;
    font-size: 24px;
    color: #888888;
}

#sex {
    position: absolute;
    left: 595px;
    top: 487px;
    width: 440px;
    height: 28px;
    display: flex;
    font-size: 24px;
}

#word-birth {
    position: absolute;
    left: 489px;
    top: 540px;
    width: 79px;
    height: 43px;
    display: flex;
    font-size: 24px;
    color: #888888;
}

#date{
    position:absolute;
    left:600px;
    top:540px;
    width:190px;
    font-size:24px;
    display:flex;
}

#certificate {
    position: absolute;
    left: 489px;
    top: 593px;
    width: 208px;
    height: 43px;
    display: flex;
    font-size: 24px;
    color: #888888;
}

#submit {
    position: absolute;
    left: 621px;
    top: 846px;
    width: 120px;
    height: 50px;
    display: flex;
    font-size: 28px;
    color: #FFFFFF;
    background: inherit;
    background-color: rgba(237, 108, 103, 0.9921568627450981);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(237, 108, 103, 1);
    border-radius: 12px;
}

#main4 {
    position: absolute;
    left: 398px;
    top: 174px;
    width: 1121px;
    height: 823px;
    display: flex;
}

#phone {
    position: absolute;
    left: 457px;
    top: 218px;
    width: 246px;
    height: 208px;
    display: flex;
}

#phone-num {
    position: absolute;
    left: 505px;
    top: 423px;
    width: 157px;
    height: 43px;
    display: flex;
    font-size: 24px;
    color: #888888;
}

#alter-phone {
    position: absolute;
    left: 500px;
    top: 466px;
    width: 161px;
    height: 57px;
    display: flex;
    font-size: 24px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
}

#login {
    position: absolute;
    left: 738px;
    top: 219px;
    width: 199px;
    height: 202px;
    display: flex;
}

#password {
    position: absolute;
    left: 756px;
    top: 423px;
    width: 157px;
    height: 43px;
    display: flex;
    font-size: 24px;
    color: #888888;
}

#alter-password {
    position: absolute;
    left: 754px;
    top: 466px;
    width: 161px;
    height: 57px;
    display: flex;
    font-size: 24px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
}

#pay {
    position: absolute;
    left: 974px;
    top: 223px;
    width: 196px;
    height: 201px;
    display: flex;
}

#pin {
    position: absolute;
    left: 1000px;
    top: 423px;
    width: 157px;
    height: 43px;
    display: flex;
    font-size: 24px;
    color: #888888;
}

#alter-pin {
    position: absolute;
    left: 995px;
    top: 466px;
    width: 161px;
    height: 57px;
    display: flex;
    font-size: 24px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
}

#email {
    position: absolute;
    left: 1215px;
    top: 212px;
    width: 206px;
    height: 209px;
    display: flex;
}

#address {
    position: absolute;
    left: 1210px;
    top: 423px;
    width: 157px;
    height: 43px;
    display: flex;
    font-size: 24px;
    color: #888888;
}

#alter-email {
    position: absolute;
    left: 1246px;
    top: 466px;
    width: 161px;
    height: 57px;
    display: flex;
    font-size: 24px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 5px;
}

#history-orders{
    display:none;
}

#cart{
    display:none;
}

#coupon{
    display:none;
}

#bookmark{
    display:none;
}

#fol-shops{
    display:none;
}

#fol-goods{
    display:none;
}

#address-management{
    display:none;
}