<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Entry/signup/signup.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Common/common.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Entry/shortcut_five.css" type="text/css" rel="stylesheet" />
    <title>signup</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
</head>
<body>
    <div class="shortcut">
        <ul>
            <li>
                <div class="col_EF4F00">
                    <div>
                        <a href="/Home/Index">主界面</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="col_FFCC00">
                    <div>
                        <a href="/Account/BuyerAccount">账户中心</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="col_9FCC48">
                    <div>
                        <a href="http://">加入英豪</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="col_00A3E7">
                    <div>
                        <a href="http://">网站导航</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="signUp">
        <div class="huicui">
            <img src="~/Images/Entry/login/logo.png" alt="">
        </div>
        <div class="aria">
            <div class="login_box">
                <div class="client_login">用户注册</div>
                <form action="SignUp" method="post">
                    <div class="client_name">
                        <img src="~/Images/Entry/login/client_name.png" class="fl">
                        <input type="text" class="fl" name="phoneNumber" placeholder="请输入您的常用手机号">
                    </div>
                    <div class="yanzheng">
                        <img src="~/Images/Entry/login/client_name.png" class="fl">
                        <input type="text" class="fl" name="nickName" placeholder="请输入您的昵称">
                    </div>
                    <div class="password">
                        <img src="~/Images/Entry/login/password.png" class="fl">
                        <input type="password" class="fl" name="password" placeholder="请输入您的密码">
                    </div>
                    <div class="password">
                        <img src="~/Images/Entry/login/password.png" class="fl">
                        <input type="password" class="fl" name="confirmPassword" placeholder="请再次输入您的密码">
                    </div>
                    <button>开启荟萃</button>
                </form>
                <div class="have_not">
                    <span>已经拥有账号？</span>
                    <a href="LogIn">立即登录</a>
                    <a href="#">我要开店</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>