@import url("//unpkg.com/element-ui@2.15.3/lib/theme-chalk/index.css");

#search{
    margin-left:200px;
    width:1150px;
    padding-left:30px;
    padding-right:30px;
    padding-top: 10px; 
}

.el-select{
    width:100px;
}

.el-input{
    width:300px;
}

.input-with-select{
    background-color: #fff;
}