body{
    margin:0;
}

.shopinfo_outerbox {
    position: absolute;
    left: 0;
    top: 45px;
    right: 0;
    bottom: 0;
    width: 1280px;
    background-color: #96969600;
    margin: auto;
    margin-top: 16px;
}

.shopinfo_titlebox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 128px;
    background-color: #7a7a6c;
    font-family: cursive;
}

.followme_button {
    position: absolute;
    left: 75%;
    height: 24px;
    bottom: 8px;
    text-align: center;
    line-height: 24px;
    font-size: 20px;
    width: fit-content;
    padding: 4px 4px;
    color: #d9be3f;
    transition: 0.5s;
    letter-spacing: 4px;
    cursor: pointer;
    overflow: hidden;
}

    .followme_button:hover {
        background-color: #d9be3f;
        color: #050801;
        box-shadow: 0 0 5px #d9be3f, 0 0 25px #d9be3f, 0 0 50px #d9be3f, 0 0 200px #d9be3f;
    }

    .followme_button div {
        position: absolute;
    }

        .followme_button div:nth-child(1) {
            width: 100%;
            height: 2px;
            top: 0;
            left: -100%;
            background: linear-gradient(to right,transparent,#d9be3f);
            animation: animate1 1s linear infinite;
        }

        .followme_button div:nth-child(2) {
            width: 2px;
            height: 100%;
            top: -100%;
            right: 0;
            background: linear-gradient(to bottom,transparent,#d9be3f);
            animation: animate2 1s linear infinite;
            animation-delay: 0.25s;
        }

        .followme_button div:nth-child(3) {
            width: 100%;
            height: 2px;
            bottom: 0;
            right: -100%;
            background: linear-gradient(to left,transparent,#d9be3f);
            animation: animate3 1s linear infinite;
            animation-delay: 0.5s;
        }

        .followme_button div:nth-child(4) {
            width: 2px;
            height: 100%;
            bottom: -100%;
            left: 0;
            background: linear-gradient(to top,transparent,#d9be3f);
            animation: animate4 1s linear infinite;
            animation-delay: 0.75s;
        }

@keyframes animate1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

@keyframes animate2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

@keyframes animate3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

@keyframes animate4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}

.shopinfo_name {
    position: absolute;
    left: 25%;
    top: 0;
    width: 50%;
    height: 128px;
    font-size: 64px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: center;
    line-height: 194px;
    font-family: cursive;
    z-index: 1;
    text-shadow: 0px 2px 8px white;
}

.divider {
    position: absolute;
    width: 100%;
    height: 48px;
    left: 0px;
    top: 128px;
    background-image: linear-gradient(black, black, black, rgb(128, 128, 128), rgb(128, 128, 128), black);
    /*background-color: black;*/
    box-shadow: 0px -2px 24px 8px white;
}

.shopinfo_displaybox {
    position: absolute;
    left: 0;
    top: 176px;
    height: 640px;
    width: 100%;
    background-color: rgba(173, 216, 230, 0);
}

.shopinfo_linebox {
    position: relative;
    width: 100%;
    height: 160px;
    /*background-color: #1a1515;*/
    perspective: 100px;
    overflow: hidden;
    background-image: linear-gradient(#1a1515, white);
}

.shopinfo_linebox_bottomboard_dark {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 16px;
    background-color: #6e4d2d;
    z-index: 1;
}

.shopinfo_linebox_bottomboard_light {
    position: absolute;
    left: 20px;
    width: 1240px;
    bottom: 16px;
    height: 48px;
    background-color: #eed5b4;
    /*background-color: #fcedbc;*/
    transform-style: preserve-3d;
    transform-origin: 50% 50%;
    transform: rotateX(8deg);
    z-index: 1;
}

.shopinfo_itembox {
    float: left;
    position: relative;
    height: 144px;
    width: 144px;
    background-color: rgba(0, 0, 255, 0);
    overflow: hidden;
    z-index: 1;
    margin-left: 4.5%;
}

.shopinfo_itembox_img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    /*border: 2px solid gray;*/
    box-shadow: 0px 1px 2px 1px rgb(32, 32, 32);
    pointer-events: none;
}

    .shopinfo_itembox_img img {
        height: 100px;
        width: 100px;
        /*border: 1px solid rgb(94, 94, 94);*/
        border-radius: 100%;
        box-shadow: 0px 64px 10px -16px rgb(94, 94, 94);
    }

.shopinfo_itembox_light {
    background-color: white;
    border: transparent;
    border-radius: 100%;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 60px;
    transform: translateY(-8px);
    box-shadow: 0px 0px 20px 20px rgba(255, 255, 255, 0.96);
}

.shopinfo_itembox_iteminfo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0);
    z-index: -1;
    overflow: hidden;
}

.shopinfo_itembox_itemname {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 42%;
    top: 24%;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

.shopinfo_itembox_itemprice {
    position: absolute;
    width: 100%;
    height: 16%;
    top: 72%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: red;
}

.shopinfo_itembox_iteminfo:hover {
    background-color: rgba(128, 128, 128, 0.6);
    z-index: 3;
    cursor: pointer;
}

.qiangjiao1 {
    position: absolute;
    left: 40px;
    height: 100%;
    width: 2px;
    top: 0;
    background-color: #75695c;
    z-index: 1;
}

.qiangjiao2 {
    position: absolute;
    right: 40px;
    height: 100%;
    width: 2px;
    top: 0;
    background-color: #75695c;
    z-index: 1;
}
