body{
    zoom: 1;
}

.signUp{
    width: 100%;
    height: 660px;
    position: relative;
}

.huicui{
    width: 100%;
    height: 131px;
    background-color: #6B97A2;
    text-align: center;
    zoom: 0.5;
}

.aria {
    width: 1200px;
    height: 693px;
    margin: 0 auto 0;
    text-align: center;
    background-image: url(../../../Images/Entry/login/background3.png);
    background-size: 100% 100%;
    display: block;
    position: relative;
    /* padding: 0; */
    overflow: hidden;
}

.login_box{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 350px;
    height: 420px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(121, 121, 121, 1);
    border-radius: 16px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #888888;
}

.login_box img{
    zoom: 0.8;
}

.client_login{
    margin-top: 20px;
    font-size: 36px;
}

.client_name{
    width: 270px;
    height: 36px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.yanzheng{
    width: 270px;
    margin-top: 20px;
    height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* padding-bottom: 20px; */
}

.password{
    width: 270px;
    margin-top: 20px;
    height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}

.preserve{
    width: 220px;
    height: 36px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login_box input{
    width: 200px;
    height: 36px;
    margin-top: 0;
    font-family: 'Arial Normal', 'Arial', sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    color: #888888;
    font-size: 18px;
    text-indent: 0.5em;
}

.preserve input{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

.login_box button{
    width: 200px;
    height: 35px;
    background: inherit;
    background-color: rgba(237, 108, 103, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(237, 108, 103, 1);
    border-radius: 12px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 22px;
    color: #FFFFFF;
    margin-top: 20px;
}

.yanzheng input{
    width: 200px;
    height: 36px;
    display: block;
}

.yanzheng button{
    line-height: 36px;
    font-size: 12px;
    background-color: rgba(237, 108, 103, 1);
    height: 38px;
    width: 72px;
    text-align: center;
    text-indent: 2px;
}

.have_not{
    margin-top: 20px;
    font-size: 10px;
}

.have_not a{
    color: #74BEDF;
    text-decoration: none;
}

.note{
    font-size: small;
    display: block;
    width: 200px;
    height: 20px;
    margin: 0 auto;
}

