<!--- 填写核对订单信息页面-->
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/Common/common.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Common/shortcut_five.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Purchase/confirmOrder/order_confirm.css" type="text/css" rel="stylesheet" />


    <link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="~/plugins/layui/layui.css" />


    <script src="~/js/Common/vue.js"></script>
    <!--右边栏-->
    <link href="/css/Common/naviRight.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
    <title>订单信息确认</title>
    @await Html.PartialAsync("~/Views/Shared/base.cshtml")
    @await Html.PartialAsync("~/Views/Shared/backToTop.cshtml")
</head>
<body>
    <!--右边栏-->
    <div id="naviRight">
        <naviright>

        </naviright>
    </div>
    <div id="shortcut">
        <shortcut></shortcut>
    </div>
    <div class="con">
        <div class="row" id="myVue" v-cloak>
            <div class="col-lg-10 col-lg-offset-1">
                <br>
                <div class="contenter">
                    <ul>
                        <li>
                            <el-row>
                                <span class="addAddressCons">收货人信息</span>
                                <span class="addAddress" @@click="AddressShowClick">编辑收货地址</span>
                            </el-row>
                            <div class="scolleShow">
                                <el-row class="consignee" v-for="(items,index) in filterAddress">
                                    <div v-on:mouseout="MouseOutList(items)" v-on:mouseleave="MouseOverList(items)">
                                        <el-col :span='4'>
                                            <div class="consigneeList consigneeListWidth" :class="{'consigneeListClick':items.addressDefult}" @@click="currentIndexClick(items,index)">
                                                <span v-text="items.ReceiverName"></span>
                                                <span v-text="items.DetailAddr"></span>
                                                <div v-show="items.addressDefult">
                                                    <div class="arrow-right"></div>
                                                    <i class="fa fa-check" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </el-col>
                                        <el-col class='rightAddress' :span='20' :class='{BackColor:items.addressIsShow}'>
                                            <span v-text="items.receiverName"></span>
                                            <span v-text="items.DetailAddr"></span>

                                            @*<span v-text="items.area"></span>
                                            <span v-text="items.minarea"></span>*@

                                            <span v-text="items.Phone"></span>
                                            <span v-if='items.isShowDefult' class="addressDefultClass">默认地址</span>
                                            <span v-if='items.addressIsShow' class='edmitAddre'>

                                                @*<span class='edmitSpan' @@click="defultAddress(items)">设为默认地址</span>*@

                                               @* <span class='edmitSpan' @@click="emitAddress(items,index)">
                                                    编辑</spa>
                                                </span>
                                                <span v-if='!items.isShowDefult' @@click="deleAddressAlert(index)" class='edmitSpan edmitSpan-delete'>删除</span>*@

                                        </el-col>
                                        <div class="clearfix"></div>
                                    </div>
                                </el-row>
                            </div>
                            @*<el-dialog title="新增收货地址"
                                       :visible.sync="newAddressShow"
                                       width="30%">
                                <el-form ref="form" :model="form" label-width="80px">
                                    <el-form-item label="收货人">
                                        <el-input v-model="form.name" placeholder="请输入内容"></el-input>
                                    </el-form-item>
                                    <el-form-item label="所在地区">
                                        <el-input v-model="form.city" placeholder="请输入内容"></el-input>
                                    </el-form-item>
                                    <el-form-item label="详细地址">
                                        <el-input v-model="form.minarea" placeholder="请输入内容"></el-input>
                                    </el-form-item>
                                    <el-form-item label="手机号码">
                                        <el-input v-model="form.phone" placeholder="请输入内容"></el-input>
                                    </el-form-item>
                                    <el-form-item>
                                        <el-checkbox-group v-model="form.isShowDefult">
                                            <el-checkbox label="设为默认地址" name="type">设为默认地址</el-checkbox>
                                        </el-checkbox-group>
                                    </el-form-item>
                                </el-form>
                                <span slot="footer" class="dialog-footer">
                                    <el-button @@click="dialogVisible = false" type='danger'>取 消</el-button>
                                    <el-button type="primary" @@click="saveNewAdress(edmitType)">保存</el-button>
                                </span>
                            </el-dialog>*@
                            <div v-if='!moreAddressData.length == 0' class="muchAddress">
                                <span @@click="moreAddress">
                                    更多地址
                                    <transition name="fade" mode="out-in">
                                        <i key='up' v-if='isTranShow' class="fa fa-angle-double-down"></i>
                                        <i key='down' v-else class="fa fa-angle-double-up"></i>
                                    </transition>
                                </span>
                            </div>
                            <div v-if='moreAddressData.length == 0' class="noAddress">
                                <span>您还没有收货地址，请增加新的收货地址！</span>
                            </div>
                        </li>
                        <li>
                            <span class="addAddressCons">支付方式</span>
                            <div class="consignee">
                                <span class="consigneeList" v-for="(paymentDatas,index) in paymentdatas" :class="{'consigneeListClick':paymentIndex == index}" @@click="paymentIndex=index">
                                    <span v-text="paymentDatas.name"></span>
                                    <div v-show="paymentIndex == index">
                                        <div class="arrow-right"></div>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                </span>
                            </div>
                        </li>
                        <li>
                            <span class="addAddressCons">送货清单</span>
                            <span class="addAddress"><a href="/Purchase/ShoppingCart">进入购物车</a></span>
                            <div class="row deliverymode">
                                <div class="col-lg-3 deliverymodeLeft">
                                    <p>配送方式：</p>
                                    <div v-for="(deliverymodeDatas,index) in deliverymodedatas">
                                        <span class="consigneeList" @@click="deliverymodeIndex=index" :class="{'consigneeListClick':deliverymodeIndex == index}">
                                            <span v-text="deliverymodeDatas.type"></span>
                                            <div v-show="deliverymodeIndex == index">
                                                <div class="arrow-right"></div>
                                                <i class="fa fa-check" aria-hidden="true"></i>
                                            </div>
                                        </span>
                                        <p class="deliverymodeLeftTit" v-text="deliverymodeDatas.name"></p>
                                    </div>
                                </div>
                                <div class="col-lg-9 deliverymodeRight">
                                    <div class="layui-form">
                                        <table class="layui-table" v-for='(item,index) in shopTableDatas' :key='index'>
                                            <tr>
                                                <td>
                                                    <span class="goodName">
                                                        <img class="goodImg" :src="item.img" />
                                                    </span>
                                                    <span class="goodName goodsName">
                                                        <h2 class="goodname">名称：{{item.intro}}</h2>
                                                        <p class="goodGary">
                                                            <span>商铺：</span>
                                                            <span>{{item.shop}}</span>
                                                        </p>
                                                        <p class="goodGary">
                                                            <span>发货地：</span>
                                                            <span>中国</span>
                                                        </p>
                                                    </span>
                                                </td>
                                                <td class="goodPrice">单价：￥{{item.price}}</td>
                                                <td class="goodNum">数量:{{item.Soldnum}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="couponconts">
                            <span class="addAddressCons ">使用优惠券</span>
                            <div class="consignee couponcontShow">
                                <span class="coupon" v-for="(CouponDatas,index) in Coupondatas" :class="{'consigneeListClick':CouponIndex == index}" @@click="useQuan(index,CouponDatas.Discount)">
                                    <div class="couponDiv" :class="{'couponDivClick':CouponIndex == index}">
                                        <p class="couponprice">满：{{CouponDatas.Threshold}}</p>
                                        <p class="coupontime" v-text="'有效期至'+CouponDatas.EndTime"></p>
                                    </div>
                                    <span class="coupontype" :class="{'coupontypeClick':CouponIndex == index}">
                                        <span>减：</span><span v-text="CouponDatas.Discount"></span>
                                        @*<span v-text="CouponDatas.types"></span>*@
                                    </span>
                                    <div v-show="CouponIndex == index">
                                        <div class="arrow-right"></div>
                                        <i class="fa fa-check" aria-hidden="true"></i>
                                    </div>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="row totalRow">金额抵用：{{couponPrice}}</div>
                </div>
                <div class="contenterFooter">
                    <p>总金额：<span class="footerPrice">￥{{totalPrice}}</span></p>
                    @* <p>运费：<span class="footerPrice">￥100.00</span></p>*@
                    <p>优惠：<span class="footerPrice footercouponPrice">{{couponPrice}}</span></p>
                </div>
                <div class="clearfix"></div>
                <div class="row footerRow">
                    <span class="footerRowprice">应付金额：<span>￥{{totalPrice}}</span></span>
                    <span class="footerRowaddress"><span>商品收货地址：{{filterAddress[currentIndex].DetailAddr}}</span><span>{{filterAddress[currentIndex].ReceiverName}}</span><span>{{filterAddress[currentIndex].Phone}}</span></span>
                </div>
                <button class="btn submitForm" onclick="submit()">提交订单</button>
            </div>


        </div>
    </div>

    <script src="~/js/Common/shortcutFive.js"></script>
    <script type="text/javascript" src="/js/Common/naviRight.js"></script>
    <script src="~/js/Purchase/confirmOrder/order_confirm.js"></script>
</body>
</html>