body {
    margin: 0;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
}

.el-row {
    margin-bottom: 20px;
}

.el-col {
    border-radius: 4px;
}


.aria {
    background-image: url(../../../Images/Account/buyerAccount/background4.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.avatar-uploader .el-upload {
    border: 1px dashed #bcc6d3;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.avatar-uploader .el-upload:hover {
    border-color: #409eff;
}

.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
}

.avatar {
    width: 178px;
    height: 178px;
    display: block;
}
